In [1]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'alembic.ini',
 'economie',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 '.gitignore',
 'population.ipynb',
 'emploie',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data',
 'chomage.ipynb',
 'elections']

#### Importer la database

Import des datasets.

In [3]:
df = pd.read_excel('./data/economie/emploie/chomage.xlsx')

Visualise toutes les colones

In [11]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head()

,code_dept,2007-T1,2007-T2,2007-T3,2007-T4,2008-T1,2008-T2,2008-T3,2008-T4,2009-T1,2009-T2,2009-T3,2009-T4,2010-T1,2010-T2,2010-T3,2010-T4,2011-T1,2011-T2,2011-T3,2011-T4,2012-T1,2012-T2,2012-T3,2012-T4,2013-T1,2013-T2,2013-T3,2013-T4,2014-T1,2014-T2,2014-T3,2014-T4,2015-T1,2015-T2,2015-T3,2015-T4,2016-T1,2016-T2,2016-T3,2016-T4,2017-T1,2017-T2,2017-T3,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4,2022-T1,2022-T2,2022-T3,2022-T4
0,Ain,5.2,4.9,4.9,4.7,4.4,4.6,4.8,5.4,6.3,7.0,6.9,7.3,7.0,6.9,6.6,6.5,6.3,6.2,6.3,6.5,6.6,6.8,6.9,7.1,7.3,7.3,7.2,7.0,7.0,6.9,7.1,7.3,7.3,7.5,7.3,7.3,7.4,7.4,7.3,7.3,7.0,6.9,6.8,6.3,6.4,6.3,6.3,6.2,6.2,6.0,6.0,6.0,5.8,5.6,6.8,6.1,6.2,6.0,5.9,5.5,5.4,5.5,5.4,5.3
1,Aisne,10.7,10.2,10.1,9.7,9.3,9.6,9.9,10.3,11.3,12.2,12.3,12.7,12.5,12.5,12.5,12.5,12.5,12.5,12.5,13.0,13.3,13.6,13.6,14.2,14.3,14.4,14.2,13.9,13.9,13.8,13.9,14.0,13.8,14.0,13.8,13.8,13.8,13.6,13.4,13.7,13.2,13.1,13.1,12.5,12.9,12.5,12.1,12.0,12.1,11.6,11.4,11.3,11.2,9.6,12.0,11.0,11.3,10.8,11.1,10.6,10.5,10.5,10.2,10.2
2,Allier,8.2,7.8,7.7,7.2,6.8,7.1,7.3,7.8,8.6,9.1,9.0,9.5,9.2,9.1,9.2,9.1,9.1,9.0,9.2,9.4,9.5,9.8,9.8,10.2,10.3,10.3,10.1,10.1,10.1,10.2,10.3,10.5,10.4,10.7,10.6,10.6,10.6,10.3,10.2,10.4,9.8,9.9,9.8,9.3,9.6,9.4,9.3,9.1,9.2,8.9,8.8,8.7,8.3,7.8,9.4,8.3,8.4,8.3,8.1,7.8,7.7,7.8,7.6,7.4
3,Alpes-de-Haute-Provence,9.0,8.8,8.6,8.3,7.9,8.1,8.1,8.6,9.2,9.6,9.6,9.9,9.7,9.6,9.6,9.6,9.6,9.7,10.1,10.1,10.2,10.5,10.6,11.0,11.1,11.3,11.1,11.1,11.0,11.1,11.3,11.4,11.3,11.6,11.3,11.2,11.2,11.0,10.9,11.2,10.7,10.8,10.9,10.4,10.7,10.5,10.3,10.2,10.1,9.8,9.7,9.4,8.9,8.4,10.2,9.0,9.2,9.1,8.7,8.3,8.3,8.3,8.2,8.1
4,Hautes-Alpes,7.4,7.3,7.2,6.9,6.4,6.6,6.6,6.9,7.3,7.6,7.5,7.8,7.5,7.5,7.8,7.8,7.9,7.8,8.1,8.3,8.3,8.5,8.6,8.9,9.2,9.4,9.3,9.1,9.1,9.2,9.3,9.3,9.3,9.6,9.5,9.4,9.4,9.2,9.1,9.3,8.9,8.7,8.7,8.4,8.6,8.5,8.5,8.3,8.2,8.0,7.9,7.8,7.4,7.1,8.4,7.8,9.6,8.0,7.3,6.9,6.9,6.8,6.7,6.6

In [6]:
df.shape

(100, 76)

In [7]:
# Ne garder que les colonnes nécessaires

colonnes_a_garder = [
    "Libellé",
    "2007-T1","2007-T2","2007-T3","2007-T4",
    "2008-T1","2008-T2","2008-T3","2008-T4",
    "2009-T1","2009-T2","2009-T3","2009-T4",
    "2010-T1","2010-T2","2010-T3","2010-T4",
    "2011-T1","2011-T2","2011-T3","2011-T4",
    "2012-T1","2012-T2","2012-T3","2012-T4",
    "2013-T1","2013-T2","2013-T3","2013-T4",
    "2014-T1","2014-T2","2014-T3","2014-T4",
    "2015-T1","2015-T2","2015-T3","2015-T4",
    "2016-T1","2016-T2","2016-T3","2016-T4",
    "2017-T1","2017-T2","2017-T3","2017-T4",
    "2018-T1","2018-T2","2018-T3","2018-T4",
    "2019-T1","2019-T2","2019-T3","2019-T4",
    "2020-T1","2020-T2","2020-T3","2020-T4",
    "2021-T1","2021-T2","2021-T3","2021-T4",
    "2022-T1","2022-T2","2022-T3","2022-T4"
]

df = df[colonnes_a_garder]

# Normalisation

1. Renommer correctement

In [18]:
# Renommer "Libellé" en "code_departement"
df = df.rename(columns={"Libellé": "code_dept"})

2. Transformer (O) en NaN

In [19]:
df.replace("(O)", np.nan, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 65 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   code_dept  100 non-null    object
 1   2007-T1    96 non-null     float64
 2   2007-T2    96 non-null     float64
 3   2007-T3    96 non-null     float64
 4   2007-T4    96 non-null     float64
 5   2008-T1    96 non-null     float64
 6   2008-T2    96 non-null     float64
 7   2008-T3    96 non-null     float64
 8   2008-T4    96 non-null     float64
 9   2009-T1    96 non-null     float64
 10  2009-T2    96 non-null     float64
 11  2009-T3    96 non-null     float64
 12  2009-T4    96 non-null     float64
 13  2010-T1    96 non-null     float64
 14  2010-T2    96 non-null     float64
 15  2010-T3    96 non-null     float64
 16  2010-T4    96 non-null     float64
 17  2011-T1    96 non-null     float64
 18  2011-T2    96 non-null     float64
 19  2011-T3    96 non-null     float64
 20  2011-T4    96 non-null     float64
 21  2012-T1    96 non-null     float64
 22  2012-T2    96 non-null     float64
 23  2012-T3    96 non-null     float64
 24  2012-T4    96 non-null     float64
 25  2013-T1    96 non-null     float64
 26  2013-T2    96 non-null     float64
 27  2013-T3    96 non-null     float64
 28  2013-T4    96 non-null     float64
 29  2014-T1    100 non-null    float64
 30  2014-T2    100 non-null    float64
 31  2014-T3    100 non-null    float64
 32  2014-T4    100 non-null    float64
 33  2015-T1    100 non-null    float64
 34  2015-T2    100 non-null    float64
 35  2015-T3    100 non-null    float64
 36  2015-T4    100 non-null    float64
 37  2016-T1    100 non-null    float64
 38  2016-T2    100 non-null    float64
 39  2016-T3    100 non-null    float64
 40  2016-T4    100 non-null    float64
 41  2017-T1    100 non-null    float64
 42  2017-T2    100 non-null    float64
 43  2017-T3    100 non-null    float64
 44  2017-T4    100 non-null    float64
 45  2018-T1    100 non-null    float64
 46  2018-T2    100 non-null    float64
 47  2018-T3    100 non-null    float64
 48  2018-T4    100 non-null    float64
 49  2019-T1    100 non-null    float64
 50  2019-T2    100 non-null    float64
 51  2019-T3    100 non-null    float64
 52  2019-T4    100 non-null    float64
 53  2020-T1    100 non-null    float64
 54  2020-T2    100 non-null    float64
 55  2020-T3    100 non-null    float64
 56  2020-T4    100 non-null    float64
 57  2021-T1    100 non-null    float64
 58  2021-T2    100 non-null    float64
 59  2021-T3    100 non-null    float64
 60  2021-T4    100 non-null    float64
 61  2022-T1    100 non-null    float64
 62  2022-T2    100 non-null    float64
 63  2022-T3    100 non-null    float64
 64  2022-T4    100 non-null    float64
dtypes: float64(64), object(1)
memory usage: 50.9+ KB

3. Aplatir le DataFrame (melt)

In [20]:
df_long = df.melt(
    id_vars="code_dept",
    var_name="periode",
    value_name="taux_chomage"
)

5. Extraire année et trimestre

In [21]:
df_long["annee"] = df_long["periode"].str.slice(0, 4).astype(int)
df_long["trimestre"] = df_long["periode"].str[-1].astype(int)

df_long.drop(columns="periode", inplace=True)
df_long.head()

                 code_dept  taux_chomage  annee  trimestre
0                      Ain           5.2   2007          1
1                    Aisne          10.7   2007          1
2                   Allier           8.2   2007          1
3  Alpes-de-Haute-Provence           9.0   2007          1
4             Hautes-Alpes           7.4   2007          1

In [22]:
df_long.shape

(6400, 4)

6. Insertion SQLAlchemy

In [ ]:
from sqlalchemy.orm import Session
from models import Chomage
from db import engine

session = Session(bind=engine)

for row in df_long.itertuples(index=False):
    session.add(
        Chomage(
            code_dept=row.code_dept,
            annee=row.annee,
            trimestre=row.trimestre,
            taux_chomage=row.taux_chomage
        )
    )

session.commit()
session.close()