In [147]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'alembic.ini',
 'economie_chomage.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 'menage.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data',
 'echanges_exim.ipynb']

In [148]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'alembic.ini',
 'economie_chomage.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 'menage.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data',
 'echanges_exim.ipynb']

In [149]:
df_echanges = pd.read_excel('./data/economie/entreprise/echanges-extérieurs-ecc-base-2020.xlsx')
df_creation_entreprise = pd.read_excel('./data/economie/entreprise/creations-entreprises.xlsx')

In [150]:
df_echanges.head()

   Année  Exportations  Importations
0   2024     33.889756     34.218432
1   2023     34.456237     36.169885
2   2022     36.616055     39.346955
3   2021     31.288042     32.500433
4   2020     28.557212     30.281683

In [151]:
df_echanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Année         76 non-null     int64
 1   Exportations  76 non-null     float64
 2   Importations  76 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.9 KB

In [152]:
columns = ["annee", "exportations", "importations"]
df_echanges.columns = columns
df_echanges.head()

   annee  exportations  importations
0   2024     33.889756     34.218432
1   2023     34.456237     36.169885
2   2022     36.616055     39.346955
3   2021     31.288042     32.500433
4   2020     28.557212     30.281683

In [153]:
df_creation_entreprise.head()

  Trimestre  Y compris micro-entrepreneurs  Hors micro-entrepreneurs
0   2025-T3                         1139.4                     399.5
1   2025-T2                         1110.3                     392.1
2   2025-T1                         1103.0                     389.6
3   2024-T4                         1111.2                     395.0
4   2024-T3                         1109.3                     397.9

In [154]:
columns_entreprise = ["trimestre", "entreprise", "entrepreneurs"]
df_creation_entreprise.columns = columns_entreprise
df_creation_entreprise.head(50)

   trimestre  entreprise  entrepreneurs
0    2025-T3      1139.4          399.5
1    2025-T2      1110.3          392.1
2    2025-T1      1103.0          389.6
3    2024-T4      1111.2          395.0
4    2024-T3      1109.3          397.9
5    2024-T2      1108.1          399.1
6    2024-T1      1084.4          394.7
7    2023-T4      1051.5          384.0
8    2023-T3      1049.3          388.0
9    2023-T2      1044.3          395.0
10   2023-T1      1047.9          404.4
11   2022-T4      1062.0          414.9
12   2022-T3      1046.3          410.6
13   2022-T2      1032.7          407.4
14   2022-T1      1048.3          413.0
15   2021-T4      1050.5          411.7
16   2021-T3      1055.8          411.2
17   2021-T2      1065.6          411.3
18   2021-T1       967.0          370.2
19   2020-T4       900.2          351.9
20   2020-T3       858.4          340.1
21   2020-T2       813.3          331.0
22   2020-T1       852.6          354.9
23   2019-T4       864.6          365.8
24   2019-T3       834.5          363.9
25   2019-T2       805.9          358.4
26   2019-T1       782.9          356.5
27   2018-T4       749.3          350.1
28   2018-T3       728.6          349.5
29   2018-T2       709.8          348.1
30   2018-T1       682.2          343.1
31   2017-T4       657.6          340.1
32   2017-T3       635.7          334.0
33   2017-T2       618.9          327.0
34   2017-T1       615.7          324.1
35   2016-T4       603.5          318.3
36   2016-T3       597.1          311.8
37   2016-T2       593.0          309.3
38   2016-T1       578.0          299.8
39   2015-T4       564.7          288.3
40   2015-T3       566.7          288.3
41   2015-T2       570.6          289.3
42   2015-T1       574.5          293.5
43   2014-T4       582.7          301.3
44   2014-T3       578.3          300.5
45   2014-T2       571.5          298.8
46   2014-T1       568.9          296.8
47   2013-T4       566.8          295.0
48   2013-T3       561.0          285.2
49   2013-T2       561.5          277.1

In [155]:
df_creation_entreprise['annee'] = df_creation_entreprise['trimestre'].str[:4]
df_entreprise = df_creation_entreprise.groupby('annee')[['entreprise','entrepreneurs']].sum().reset_index()
df_entreprise[['entreprise','entrepreneurs']] = df_entreprise[['entreprise','entrepreneurs']]*1000
df_entreprise.head(50)

   annee  entreprise  entrepreneurs
0   2000    236200.0       236200.0
1   2001    938400.0       938400.0
2   2002    933000.0       933000.0
3   2003    998000.0       998000.0
4   2004   1151000.0      1151000.0
5   2005   1170400.0      1170400.0
6   2006   1228300.0      1228300.0
7   2007   1355600.0      1355600.0
8   2008   1472200.0      1472200.0
9   2009   1985400.0      1230900.0
10  2010   2576800.0      1137000.0
11  2011   2348500.0      1133500.0
12  2012   2285500.0      1082900.0
13  2013   2251500.0      1126100.0
14  2014   2301400.0      1197400.0
15  2015   2276500.0      1159400.0
16  2016   2371600.0      1239200.0
17  2017   2527900.0      1325200.0
18  2018   2869900.0      1390800.0
19  2019   3287900.0      1444600.0
20  2020   3424500.0      1377900.0
21  2021   4138900.0      1604400.0
22  2022   4189300.0      1645900.0
23  2023   4193000.0      1571400.0
24  2024   4413000.0      1586700.0
25  2025   3352700.0      1181200.0

In [156]:
df_entreprise['micro_entrepreneurs'] = df_entreprise['entreprise'] - df_entreprise['entrepreneurs']

In [157]:
df_entreprise.head(50)

   annee  entreprise  entrepreneurs  micro_entrepreneurs
0   2000    236200.0       236200.0                  0.0
1   2001    938400.0       938400.0                  0.0
2   2002    933000.0       933000.0                  0.0
3   2003    998000.0       998000.0                  0.0
4   2004   1151000.0      1151000.0                  0.0
5   2005   1170400.0      1170400.0                  0.0
6   2006   1228300.0      1228300.0                  0.0
7   2007   1355600.0      1355600.0                  0.0
8   2008   1472200.0      1472200.0                  0.0
9   2009   1985400.0      1230900.0             754500.0
10  2010   2576800.0      1137000.0            1439800.0
11  2011   2348500.0      1133500.0            1215000.0
12  2012   2285500.0      1082900.0            1202600.0
13  2013   2251500.0      1126100.0            1125400.0
14  2014   2301400.0      1197400.0            1104000.0
15  2015   2276500.0      1159400.0            1117100.0
16  2016   2371600.0      1239200.0            1132400.0
17  2017   2527900.0      1325200.0            1202700.0
18  2018   2869900.0      1390800.0            1479100.0
19  2019   3287900.0      1444600.0            1843300.0
20  2020   3424500.0      1377900.0            2046600.0
21  2021   4138900.0      1604400.0            2534500.0
22  2022   4189300.0      1645900.0            2543400.0
23  2023   4193000.0      1571400.0            2621600.0
24  2024   4413000.0      1586700.0            2826300.0
25  2025   3352700.0      1181200.0            2171500.0

In [158]:
df_entreprise_essenciel = df_entreprise.drop(columns=['entreprise'])
df_entreprise_essenciel.head(50)

   annee  entrepreneurs  micro_entrepreneurs
0   2000       236200.0                  0.0
1   2001       938400.0                  0.0
2   2002       933000.0                  0.0
3   2003       998000.0                  0.0
4   2004      1151000.0                  0.0
5   2005      1170400.0                  0.0
6   2006      1228300.0                  0.0
7   2007      1355600.0                  0.0
8   2008      1472200.0                  0.0
9   2009      1230900.0             754500.0
10  2010      1137000.0            1439800.0
11  2011      1133500.0            1215000.0
12  2012      1082900.0            1202600.0
13  2013      1126100.0            1125400.0
14  2014      1197400.0            1104000.0
15  2015      1159400.0            1117100.0
16  2016      1239200.0            1132400.0
17  2017      1325200.0            1202700.0
18  2018      1390800.0            1479100.0
19  2019      1444600.0            1843300.0
20  2020      1377900.0            2046600.0
21  2021      1604400.0            2534500.0
22  2022      1645900.0            2543400.0
23  2023      1571400.0            2621600.0
24  2024      1586700.0            2826300.0
25  2025      1181200.0            2171500.0

In [164]:
df_entreprise_essenciel['annee'] = df_entreprise_essenciel['annee'].astype(int)
df_echanges['annee'] = df_echanges['annee'].astype(int)

In [165]:
df_final = pd.merge(
    df_entreprise_essenciel,
    df_echanges,
    on='annee',
    how='inner'
)

df_final.head(50)

    annee  entrepreneurs  micro_entrepreneurs  exportations  importations
0    2000       236200.0                  0.0     29.758055     28.027977
1    2001       938400.0                  0.0     29.430595     27.462647
2    2002       933000.0                  0.0     28.730684     26.401830
3    2003       998000.0                  0.0     27.136995     25.461918
4    2004      1151000.0                  0.0     27.538105     26.211656
5    2005      1170400.0                  0.0     28.163535     27.659292
6    2006      1228300.0                  0.0     28.927840     28.941437
7    2007      1355600.0                  0.0     28.858554     29.294031
8    2008      1472200.0                  0.0     29.199045     29.980754
9    2009      1230900.0             754500.0     25.880961     26.318187
10   2010      1137000.0            1439800.0     27.826510     28.761094
11   2011      1133500.0            1215000.0     29.538863     31.066789
12   2012      1082900.0            1202600.0     30.355693     31.303264
13   2013      1126100.0            1125400.0     30.591289     31.227928
14   2014      1197400.0            1104000.0     30.741833     31.457474
15   2015      1159400.0            1117100.0     31.693484     31.811182
16   2016      1239200.0            1132400.0     31.498208     31.844563
17   2017      1325200.0            1202700.0     32.311827     33.084011
18   2018      1390800.0            1479100.0     32.917983     33.884289
19   2019      1444600.0            1843300.0     32.889553     33.539415
20   2020      1377900.0            2046600.0     28.557212     30.281683
21   2021      1604400.0            2534500.0     31.288042     32.500433
22   2022      1645900.0            2543400.0     36.616055     39.346955
23   2023      1571400.0            2621600.0     34.456237     36.169885
24   2024      1586700.0            2826300.0     33.889756     34.218432

In [169]:
# Ratio micro / total
df_final['total_entreprises'] = df_final['entrepreneurs'] + df_final['micro_entrepreneurs']
df_final['ratio_micro'] = df_final['micro_entrepreneurs'] / df_final['total_entreprises']

# Ratio export / import (solde commercial relatif)
df_final['solde_commercial'] = df_final['exportations'] - df_final['importations']
df_final['ratio_export_import'] = df_final['exportations'] / df_final['importations']

# Croissance annuelle des variables clés
df_final['croissance_total_entreprises'] = df_final['total_entreprises'].pct_change()  # % de variation
df_final['croissance_micro'] = df_final['micro_entrepreneurs'].pct_change()
df_final['croissance_export'] = df_final['exportations'].pct_change()
df_final['croissance_import'] = df_final['importations'].pct_change()

In [170]:
df_final.head(50)

,annee,entrepreneurs,micro_entrepreneurs,exportations,importations,taux_micro,delta_entrepreneurs,delta_micro,delta_exportations,delta_importations,solde_commercial,total_entreprises,ratio_micro,ratio_export_import,croissance_total_entreprises,croissance_micro,croissance_export,croissance_import
0,2000,236200.0,0.0,29.758055,28.027977,0.000000,NaN,NaN,NaN,NaN,1.730078,236200.0,0.000000,1.061727,NaN,NaN,NaN,NaN
1,2001,938400.0,0.0,29.430595,27.462647,0.000000,2.972904,NaN,-0.011004,-0.020170,1.967948,938400.0,0.000000,1.071659,2.972904,NaN,-0.011004,-0.020170
2,2002,933000.0,0.0,28.730684,26.401830,0.000000,-0.005754,NaN,-0.023782,-0.038628,2.328854,933000.0,0.000000,1.088208,-0.005754,NaN,-0.023782,-0.038628
3,2003,998000.0,0.0,27.136995,25.461918,0.000000,0.069668,NaN,-0.055470,-0.035600,1.675077,998000.0,0.000000,1.065788,0.069668,NaN,-0.055470,-0.035600
4,2004,1151000.0,0.0,27.538105,26.211656,0.000000,0.153307,NaN,0.014781,0.029445,1.326449,1151000.0,0.000000,1.050605,0.153307,NaN,0.014781,0.029445
5,2005,1170400.0,0.0,28.163535,27.659292,0.000000,0.016855,NaN,0.022711,0.055229,0.504243,1170400.0,0.000000,1.018231,0.016855,NaN,0.022711,0.055229
6,2006,1228300.0,0.0,28.927840,28.941437,0.000000,0.049470,NaN,0.027138,0.046355,-0.013597,1228300.0,0.000000,0.999530,0.049470,NaN,0.027138,0.046355
7,2007,1355600.0,0.0,28.858554,29.294031,0.000000,0.103639,NaN,-0.002395,0.012183,-0.435477,1355600.0,0.000000,0.985134,0.103639,NaN,-0.002395,0.012183
8,2008,1472200.0,0.0,29.199045,29.980754,0.000000,0.086014,NaN,0.011799,0.023442,-0.781709,1472200.0,0.000000,0.973926,0.086014,NaN,0.011799,0.023442
9,2009,1230900.0,754500.0,25.880961,26.318187,0.380024,-0.163904,inf,-0.113637,-0.122164,-0.437226,1985400.0,0.380024,0.983387,0.348594,inf,-0.113637,-0.122164
10,2010,1137000.0,1439800.0,27.826510,28.761094,0.558755,-0.076286,0.908284,0.075173,0.092822,-0.934584,2576800.0,0.558755,0.967505,0.297874,0.908284,0.075173,0.092822
11,2011,1133500.0,1215000.0,29.538863,31.066789,0.517352,-0.003078,-0.156133,0.061537,0.080167,-1.527927,2348500.0,0.517352,0.950818,-0.088598,-0.156133,0.061537,0.080167
12,2012,1082900.0,1202600.0,30.355693,31.303264,0.526187,-0.044640,-0.010206,0.027653,0.007612,-0.947571,2285500.0,0.526187,0.969729,-0.026826,-0.010206,0.027653,0.007612
13,2013,1126100.0,1125400.0,30.591289,31.227928,0.499845,0.039893,-0.064194,0.007761,-0.002407,-0.636640,2251500.0,0.499845,0.979613,-0.014876,-0.064194,0.007761,-0.002407
14,2014,1197400.0,1104000.0,30.741833,31.457474,0.479708,0.063316,-0.019015,0.004921,0.007351,-0.715641,2301400.0,0.479708,0.977251,0.022163,-0.019015,0.004921,0.007351
15,2015,1159400.0,1117100.0,31.693484,31.811182,0.490709,-0.031735,0.011866,0.030956,0.011244,-0.117698,2276500.0,0.490709,0.996300,-0.010820,0.011866,0.030956,0.011244
16,2016,1239200.0,1132400.0,31.498208,31.844563,0.477484,0.068829,0.013696,-0.006161,0.001049,-0.346354,2371600.0,0.477484,0.989124,0.041775,0.013696,-0.006161,0.001049
17,2017,1325200.0,1202700.0,32.311827,33.084011,0.475770,0.069400,0.062081,0.025831,0.038922,-0.772184,2527900.0,0.475770,0.976660,0.065905,0.062081,0.025831,0.038922
18,2018,1390800.0,1479100.0,32.917983,33.884289,0.515384,0.049502,0.229816,0.018760,0.024189,-0.966305,2869900.0,0.515384,0.971482,0.135290,0.229816,0.018760,0.024189
19,2019,1444600.0,1843300.0,32.889553,33.539415,0.560631,0.038683,0.246231,-0.000864,-0.010178,-0.649862,3287900.0,0.560631,0.980624,0.145650,0.246231,-0.000864,-0.010178
20,2020,1377900.0,2046600.0,28.557212,30.281683,0.597635,-0.046172,0.110291,-0.131724,-0.097131,-1.724471,3424500.0,0.597635,0.943052,0.041546,0.110291,-0.131724,-0.097131
21,2021,1604400.0,2534500.0,31.288042,32.500433,0.612361,0.164381,0.238395,0.095627,0.073270,-1.212391,4138900.0,0.612361,0.962696,0.208614,0.238395,0.095627,0.073270
22,2022,1645900.0,2543400.0,36.616055,39.346955,0.607118,0.025866,0.003512,0.170289,0.210659,-2.730900,4189300.0,0.607118,0.930594,0.012177,0.003512,0.170289,0.210659
23,2023,1571400.0,2621600.0,34.456237,36.169885,0.625233,-0.045264,0.030746,-0.058986,-0.080745,-1.713649,4193000.0,0.625233,0.952622,0.000883,0.030746,-0.058986,-0.080745
24,2024,1586700.0,2826300.0,33.889756,34.218432,0.640449,0.009737,0.078082,-0.016441,-0.053952,-0.328676,4413000.0,0.640449,0.990395,0.052468,0.078082,-0.016441,-0.053952

In [178]:
df = pd.DataFrame()
df = df_final[(df_final["annee"] >= 2007) & (df_final["annee"] <= 2022)]
df.head(50)

,annee,entrepreneurs,micro_entrepreneurs,exportations,importations,taux_micro,delta_entrepreneurs,delta_micro,delta_exportations,delta_importations,solde_commercial,total_entreprises,ratio_micro,ratio_export_import,croissance_total_entreprises,croissance_micro,croissance_export,croissance_import
7,2007,1355600.0,0.0,28.858554,29.294031,0.000000,0.103639,NaN,-0.002395,0.012183,-0.435477,1355600.0,0.000000,0.985134,0.103639,NaN,-0.002395,0.012183
8,2008,1472200.0,0.0,29.199045,29.980754,0.000000,0.086014,NaN,0.011799,0.023442,-0.781709,1472200.0,0.000000,0.973926,0.086014,NaN,0.011799,0.023442
9,2009,1230900.0,754500.0,25.880961,26.318187,0.380024,-0.163904,inf,-0.113637,-0.122164,-0.437226,1985400.0,0.380024,0.983387,0.348594,inf,-0.113637,-0.122164
10,2010,1137000.0,1439800.0,27.826510,28.761094,0.558755,-0.076286,0.908284,0.075173,0.092822,-0.934584,2576800.0,0.558755,0.967505,0.297874,0.908284,0.075173,0.092822
11,2011,1133500.0,1215000.0,29.538863,31.066789,0.517352,-0.003078,-0.156133,0.061537,0.080167,-1.527927,2348500.0,0.517352,0.950818,-0.088598,-0.156133,0.061537,0.080167
12,2012,1082900.0,1202600.0,30.355693,31.303264,0.526187,-0.044640,-0.010206,0.027653,0.007612,-0.947571,2285500.0,0.526187,0.969729,-0.026826,-0.010206,0.027653,0.007612
13,2013,1126100.0,1125400.0,30.591289,31.227928,0.499845,0.039893,-0.064194,0.007761,-0.002407,-0.636640,2251500.0,0.499845,0.979613,-0.014876,-0.064194,0.007761,-0.002407
14,2014,1197400.0,1104000.0,30.741833,31.457474,0.479708,0.063316,-0.019015,0.004921,0.007351,-0.715641,2301400.0,0.479708,0.977251,0.022163,-0.019015,0.004921,0.007351
15,2015,1159400.0,1117100.0,31.693484,31.811182,0.490709,-0.031735,0.011866,0.030956,0.011244,-0.117698,2276500.0,0.490709,0.996300,-0.010820,0.011866,0.030956,0.011244
16,2016,1239200.0,1132400.0,31.498208,31.844563,0.477484,0.068829,0.013696,-0.006161,0.001049,-0.346354,2371600.0,0.477484,0.989124,0.041775,0.013696,-0.006161,0.001049
17,2017,1325200.0,1202700.0,32.311827,33.084011,0.475770,0.069400,0.062081,0.025831,0.038922,-0.772184,2527900.0,0.475770,0.976660,0.065905,0.062081,0.025831,0.038922
18,2018,1390800.0,1479100.0,32.917983,33.884289,0.515384,0.049502,0.229816,0.018760,0.024189,-0.966305,2869900.0,0.515384,0.971482,0.135290,0.229816,0.018760,0.024189
19,2019,1444600.0,1843300.0,32.889553,33.539415,0.560631,0.038683,0.246231,-0.000864,-0.010178,-0.649862,3287900.0,0.560631,0.980624,0.145650,0.246231,-0.000864,-0.010178
20,2020,1377900.0,2046600.0,28.557212,30.281683,0.597635,-0.046172,0.110291,-0.131724,-0.097131,-1.724471,3424500.0,0.597635,0.943052,0.041546,0.110291,-0.131724,-0.097131
21,2021,1604400.0,2534500.0,31.288042,32.500433,0.612361,0.164381,0.238395,0.095627,0.073270,-1.212391,4138900.0,0.612361,0.962696,0.208614,0.238395,0.095627,0.073270
22,2022,1645900.0,2543400.0,36.616055,39.346955,0.607118,0.025866,0.003512,0.170289,0.210659,-2.730900,4189300.0,0.607118,0.930594,0.012177,0.003512,0.170289,0.210659

In [179]:
df_model = df[['annee',
               'ratio_micro',          # proportion des micro-entrepreneurs
               'solde_commercial',     # export - import
               'ratio_export_import',  # export/import
               'croissance_total_entreprises',  # croissance des entreprises hors micro
               'croissance_micro',     # croissance des micro-entrepreneurs
               'croissance_export',    # croissance exportations
               'croissance_import'     # croissance importations
              ]].copy()

# Remplacer NaN (venant de pct_change) par 0
df_model.fillna(0, inplace=True)
df_model.head(50)

,annee,ratio_micro,solde_commercial,ratio_export_import,croissance_total_entreprises,croissance_micro,croissance_export,croissance_import
7,2007,0.000000,-0.435477,0.985134,0.103639,0.000000,-0.002395,0.012183
8,2008,0.000000,-0.781709,0.973926,0.086014,0.000000,0.011799,0.023442
9,2009,0.380024,-0.437226,0.983387,0.348594,inf,-0.113637,-0.122164
10,2010,0.558755,-0.934584,0.967505,0.297874,0.908284,0.075173,0.092822
11,2011,0.517352,-1.527927,0.950818,-0.088598,-0.156133,0.061537,0.080167
12,2012,0.526187,-0.947571,0.969729,-0.026826,-0.010206,0.027653,0.007612
13,2013,0.499845,-0.636640,0.979613,-0.014876,-0.064194,0.007761,-0.002407
14,2014,0.479708,-0.715641,0.977251,0.022163,-0.019015,0.004921,0.007351
15,2015,0.490709,-0.117698,0.996300,-0.010820,0.011866,0.030956,0.011244
16,2016,0.477484,-0.346354,0.989124,0.041775,0.013696,-0.006161,0.001049
17,2017,0.475770,-0.772184,0.976660,0.065905,0.062081,0.025831,0.038922
18,2018,0.515384,-0.966305,0.971482,0.135290,0.229816,0.018760,0.024189
19,2019,0.560631,-0.649862,0.980624,0.145650,0.246231,-0.000864,-0.010178
20,2020,0.597635,-1.724471,0.943052,0.041546,0.110291,-0.131724,-0.097131
21,2021,0.612361,-1.212391,0.962696,0.208614,0.238395,0.095627,0.073270
22,2022,0.607118,-2.730900,0.930594,0.012177,0.003512,0.170289,0.210659

In [184]:
df_model_clean = df_model[[ 'annee', 
                            'croissance_total_entreprises',
                            'ratio_micro',
                            'solde_commercial',
                            'croissance_export'
                        ]].copy()

df_model_clean.head(50)

,annee,croissance_total_entreprises,ratio_micro,solde_commercial,croissance_export
7,2007,0.103639,0.000000,-0.435477,-0.002395
8,2008,0.086014,0.000000,-0.781709,0.011799
9,2009,0.348594,0.380024,-0.437226,-0.113637
10,2010,0.297874,0.558755,-0.934584,0.075173
11,2011,-0.088598,0.517352,-1.527927,0.061537
12,2012,-0.026826,0.526187,-0.947571,0.027653
13,2013,-0.014876,0.499845,-0.636640,0.007761
14,2014,0.022163,0.479708,-0.715641,0.004921
15,2015,-0.010820,0.490709,-0.117698,0.030956
16,2016,0.041775,0.477484,-0.346354,-0.006161
17,2017,0.065905,0.475770,-0.772184,0.025831
18,2018,0.135290,0.515384,-0.966305,0.018760
19,2019,0.145650,0.560631,-0.649862,-0.000864
20,2020,0.041546,0.597635,-1.724471,-0.131724
21,2021,0.208614,0.612361,-1.212391,0.095627
22,2022,0.012177,0.607118,-2.730900,0.170289