In [1]:
import numpy as np
import pandas as pd
import os
os.listdir()

['pipeline',
 'elec17.py',
 'migrations',
 'election2017.ipynb',
 'elec22.py',
 'entreprise.ipynb',
 '.DS_Store',
 'elec12.py',
 'alembic.ini',
 'economie_chomage.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 'menage.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data']

#### Importer la database

Import des datasets.

In [2]:
df = pd.read_excel('./data/economie/emploie/chomage.xlsx')

Visualise toutes les colones

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head()

,Libellé,2007-T1,2007-T2,2007-T3,2007-T4,2008-T1,2008-T2,2008-T3,2008-T4,2009-T1,2009-T2,2009-T3,2009-T4,2010-T1,2010-T2,2010-T3,2010-T4,2011-T1,2011-T2,2011-T3,2011-T4,2012-T1,2012-T2,2012-T3,2012-T4,2013-T1,2013-T2,2013-T3,2013-T4,2014-T1,2014-T2,2014-T3,2014-T4,2015-T1,2015-T2,2015-T3,2015-T4,2016-T1,2016-T2,2016-T3,2016-T4,2017-T1,2017-T2,2017-T3,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,2020-T2,2020-T3,2020-T4,2021-T1,2021-T2,2021-T3,2021-T4,2022-T1,2022-T2,2022-T3,2022-T4,2023-T1,2023-T2,2023-T3,2023-T4,2024-T1,2024-T2,2024-T3,2024-T4,2025-T1,2025-T2,2025-T3
0,Ain,5.2,4.9,4.9,4.7,4.4,4.6,4.8,5.4,6.3,7,6.9,7.3,7,6.9,6.6,6.5,6.3,6.2,6.3,6.5,6.6,6.8,6.9,7.1,7.3,7.3,7.2,7,7.0,6.9,7.1,7.3,7.3,7.5,7.3,7.3,7.4,7.4,7.3,7.3,7.0,6.9,6.8,6.3,6.4,6.3,6.3,6.2,6.2,6.0,6.0,6.0,5.8,5.6,6.8,6.1,6.2,6.0,5.9,5.5,5.4,5.5,5.4,5.3,5.2,5.4,5.6,5.7,5.6,5.5,5.5,5.5,5.6,5.6,5.7
1,Aisne,10.7,10.2,10.1,9.7,9.3,9.6,9.9,10.3,11.3,12.2,12.3,12.7,12.5,12.5,12.5,12.5,12.5,12.5,12.5,13,13.3,13.6,13.6,14.2,14.3,14.4,14.2,13.9,13.9,13.8,13.9,14.0,13.8,14.0,13.8,13.8,13.8,13.6,13.4,13.7,13.2,13.1,13.1,12.5,12.9,12.5,12.1,12.0,12.1,11.6,11.4,11.3,11.2,9.6,12.0,11.0,11.3,10.8,11.1,10.6,10.5,10.5,10.2,10.2,10.3,10.3,10.5,10.7,10.7,10.4,10.4,10.1,10.2,10.2,10.3
2,Allier,8.2,7.8,7.7,7.2,6.8,7.1,7.3,7.8,8.6,9.1,9,9.5,9.2,9.1,9.2,9.1,9.1,9,9.2,9.4,9.5,9.8,9.8,10.2,10.3,10.3,10.1,10.1,10.1,10.2,10.3,10.5,10.4,10.7,10.6,10.6,10.6,10.3,10.2,10.4,9.8,9.9,9.8,9.3,9.6,9.4,9.3,9.1,9.2,8.9,8.8,8.7,8.3,7.8,9.4,8.3,8.4,8.3,8.1,7.8,7.7,7.8,7.6,7.4,7.5,7.6,7.8,7.9,7.9,7.9,7.9,7.8,7.8,7.8,8.0
3,Alpes-de-Haute-Provence,9,8.8,8.6,8.3,7.9,8.1,8.1,8.6,9.2,9.6,9.6,9.9,9.7,9.6,9.6,9.6,9.6,9.7,10.1,10.1,10.2,10.5,10.6,11,11.1,11.3,11.1,11.1,11.0,11.1,11.3,11.4,11.3,11.6,11.3,11.2,11.2,11.0,10.9,11.2,10.7,10.8,10.9,10.4,10.7,10.5,10.3,10.2,10.1,9.8,9.7,9.4,8.9,8.4,10.2,9.0,9.2,9.1,8.7,8.3,8.3,8.3,8.2,8.1,8.0,8.0,8.3,8.2,8.1,7.9,8.0,7.7,7.9,7.9,8.0
4,Hautes-Alpes,7.4,7.3,7.2,6.9,6.4,6.6,6.6,6.9,7.3,7.6,7.5,7.8,7.5,7.5,7.8,7.8,7.9,7.8,8.1,8.3,8.3,8.5,8.6,8.9,9.2,9.4,9.3,9.1,9.1,9.2,9.3,9.3,9.3,9.6,9.5,9.4,9.4,9.2,9.1,9.3,8.9,8.7,8.7,8.4,8.6,8.5,8.5,8.3,8.2,8.0,7.9,7.8,7.4,7.1,8.4,7.8,9.6,8.0,7.3,6.9,6.9,6.8,6.7,6.6,6.5,6.5,6.6,6.6,6.5,6.2,6.2,6.0,6.2,6.4,6.5

In [4]:
df.shape

(100, 76)

In [5]:
# Ne garder que les colonnes nécessaires

colonnes_a_garder = [
    "Libellé",
    "2007-T1","2007-T2","2007-T3","2007-T4",
    "2008-T1","2008-T2","2008-T3","2008-T4",
    "2009-T1","2009-T2","2009-T3","2009-T4",
    "2010-T1","2010-T2","2010-T3","2010-T4",
    "2011-T1","2011-T2","2011-T3","2011-T4",
    "2012-T1","2012-T2","2012-T3","2012-T4",
    "2013-T1","2013-T2","2013-T3","2013-T4",
    "2014-T1","2014-T2","2014-T3","2014-T4",
    "2015-T1","2015-T2","2015-T3","2015-T4",
    "2016-T1","2016-T2","2016-T3","2016-T4",
    "2017-T1","2017-T2","2017-T3","2017-T4",
    "2018-T1","2018-T2","2018-T3","2018-T4",
    "2019-T1","2019-T2","2019-T3","2019-T4",
    "2020-T1","2020-T2","2020-T3","2020-T4",
    "2021-T1","2021-T2","2021-T3","2021-T4",
    "2022-T1","2022-T2","2022-T3","2022-T4"
]

df = df[colonnes_a_garder]

# Normalisation

1. Renommer correctement

In [6]:
# Renommer "Libellé" en "code_departement"
df = df.rename(columns={"Libellé": "code_dept"})

2. Transformer (O) en NaN

In [7]:
df.replace("(O)", np.nan, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 65 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   code_dept  100 non-null    object
 1   2007-T1    96 non-null     float64
 2   2007-T2    96 non-null     float64
 3   2007-T3    96 non-null     float64
 4   2007-T4    96 non-null     float64
 5   2008-T1    96 non-null     float64
 6   2008-T2    96 non-null     float64
 7   2008-T3    96 non-null     float64
 8   2008-T4    96 non-null     float64
 9   2009-T1    96 non-null     float64
 10  2009-T2    96 non-null     float64
 11  2009-T3    96 non-null     float64
 12  2009-T4    96 non-null     float64
 13  2010-T1    96 non-null     float64
 14  2010-T2    96 non-null     float64
 15  2010-T3    96 non-null     float64
 16  2010-T4    96 non-null     float64
 17  2011-T1    96 non-null     float64
 18  2011-T2    96 non-null     float64
 19  2011-T3    96 non-null     float64
 20  2011-T4    96 non-null     float64
 21  2012-T1    96 non-null     float64
 22  2012-T2    96 non-null     float64
 23  2012-T3    96 non-null     float64
 24  2012-T4    96 non-null     float64
 25  2013-T1    96 non-null     float64
 26  2013-T2    96 non-null     float64
 27  2013-T3    96 non-null     float64
 28  2013-T4    96 non-null     float64
 29  2014-T1    100 non-null    float64
 30  2014-T2    100 non-null    float64
 31  2014-T3    100 non-null    float64
 32  2014-T4    100 non-null    float64
 33  2015-T1    100 non-null    float64
 34  2015-T2    100 non-null    float64
 35  2015-T3    100 non-null    float64
 36  2015-T4    100 non-null    float64
 37  2016-T1    100 non-null    float64
 38  2016-T2    100 non-null    float64
 39  2016-T3    100 non-null    float64
 40  2016-T4    100 non-null    float64
 41  2017-T1    100 non-null    float64
 42  2017-T2    100 non-null    float64
 43  2017-T3    100 non-null    float64
 44  2017-T4    100 non-null    float64
 45  2018-T1    100 non-null    float64
 46  2018-T2    100 non-null    float64
 47  2018-T3    100 non-null    float64
 48  2018-T4    100 non-null    float64
 49  2019-T1    100 non-null    float64
 50  2019-T2    100 non-null    float64
 51  2019-T3    100 non-null    float64
 52  2019-T4    100 non-null    float64
 53  2020-T1    100 non-null    float64
 54  2020-T2    100 non-null    float64
 55  2020-T3    100 non-null    float64
 56  2020-T4    100 non-null    float64
 57  2021-T1    100 non-null    float64
 58  2021-T2    100 non-null    float64
 59  2021-T3    100 non-null    float64
 60  2021-T4    100 non-null    float64
 61  2022-T1    100 non-null    float64
 62  2022-T2    100 non-null    float64
 63  2022-T3    100 non-null    float64
 64  2022-T4    100 non-null    float64
dtypes: float64(64), object(1)
memory usage: 50.9+ KB

/tmp/ipykernel_65154/358941637.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace("(O)", np.nan, inplace=True)

3. Aplatir le DataFrame (melt)

In [8]:
df_long = df.melt(
    id_vars="code_dept",
    var_name="periode",
    value_name="taux_chomage"
)

5. Extraire année et trimestre

In [9]:
from sqlalchemy.orm import Session
from models import Chomage, Departement
from db import engine

session = Session(bind=engine)


# dictionnaire : nom_dept -> code_dept
dept_mapping = {
    d.nom_dept: d.code_dept
    for d in session.query(Departement).all()
}

2026-01-10 20:45:31,108 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-10 20:45:31,109 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:31,112 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-10 20:45:31,113 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:31,114 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-10 20:45:31,114 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:31,115 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-10 20:45:31,117 INFO sqlalchemy.engine.Engine SELECT departements.code_dept AS departements_code_dept, departements.nom_dept AS departements_nom_dept
FROM departements
2026-01-10 20:45:31,118 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {}

In [10]:



df_final = df_long.copy()
df_final["annee"] = df_long["periode"].str.slice(0, 4).astype(int)
df_final["trimestre"] = df_long["periode"].str[-1].astype(int)
df_final["code_dept"] = df_long["code_dept"].str.lower().map(dept_mapping)

df_final.drop(columns="periode", inplace=True)
df_final.head()

  code_dept  taux_chomage  annee  trimestre
0        01           5.2   2007          1
1        02          10.7   2007          1
2        03           8.2   2007          1
3        04           9.0   2007          1
4        05           7.4   2007          1

In [11]:
df_final.shape

(6400, 4)

6. Insertion SQLAlchemy

In [12]:
for row in df_final.itertuples(index=False):
    session.add(
        Chomage(
            code_dept=row.code_dept,
            annee=row.annee,
            trimestre=row.trimestre,
            taux_chomage=row.taux_chomage
        )
    )

session.commit()
session.close()

2026-01-10 20:45:31,513 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,513 INFO sqlalchemy.engine.Engine [generated in 0.07258s (insertmanyvalues) 1/7 (unordered)] {'annee__0': 2007, 'taux_chomage__0': 5.2, 'code_dept__0': '01', 'trimestre__0': 1, 'annee__1': 2007, 'taux_chomage__1': 10.7, 'code_dept__1': '02', 'trimestre__1': 1, 'annee__2': 2007, 'taux_chomage__2': 8.2, 'code_dept__2': '03', 'trimestre__2': 1, 'annee__3': 2007, 'taux_chomage__3': 9.0, 'code_dept__3': '04', 'trimestre__3': 1, 'annee__4': 2007, 'taux_chomage__4': 7.4, 'code_dept__4': '05', 'trimestre__4': 1, 'annee__5': 2007, 'taux_chomage__5': 7.9, 'code_dept__5': '06', 'trimestre__5': 1, 'annee__6': 2007, 'taux_chomage__6': 8.8, 'code_dept__6': '07', 'trimestre__6': 1, 'annee__7': 2007, 'taux_chomage__7': 10.9, 'code_dept__7': '08', 'trimestre__7': 1, 'annee__8': 2007, 'taux_chomage__8': 9.4, 'code_dept__8': '09', 'trimestre__8': 1, 'annee__9': 2007, 'taux_chomage__9': 8.7, 'code_dept__9': '10', 'trimestre__9': 1, 'annee__10': 2007, 'taux_chomage__10': 10.5, 'code_dept__10': '11', 'trimestre__10': 1, 'annee__11': 2007, 'taux_chomage__11': 5.2, 'code_dept__11': '12', 'trimestre__11': 1, 'annee__12': 2007, 'taux_chomage__12': 11.2 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 2, 'annee__988': 2009, 'taux_chomage__988': 8.8, 'code_dept__988': '89', 'trimestre__988': 2, 'annee__989': 2009, 'taux_chomage__989': 10.3, 'code_dept__989': '90', 'trimestre__989': 2, 'annee__990': 2009, 'taux_chomage__990': 6.2, 'code_dept__990': '91', 'trimestre__990': 2, 'annee__991': 2009, 'taux_chomage__991': 6.9, 'code_dept__991': '92', 'trimestre__991': 2, 'annee__992': 2009, 'taux_chomage__992': 10.6, 'code_dept__992': '93', 'trimestre__992': 2, 'annee__993': 2009, 'taux_chomage__993': 7.4, 'code_dept__993': '94', 'trimestre__993': 2, 'annee__994': 2009, 'taux_chomage__994': 8.7, 'code_dept__994': '95', 'trimestre__994': 2, 'annee__995': 2009, 'taux_chomage__995': 9.8, 'code_dept__995': '83', 'trimestre__995': 2, 'annee__996': 2009, 'taux_chomage__996': nan, 'code_dept__996': 'ZA', 'trimestre__996': 2, 'annee__997': 2009, 'taux_chomage__997': nan, 'code_dept__997': 'ZB', 'trimestre__997': 2, 'annee__998': 2009, 'taux_chomage__998': nan, 'code_dept__998': 'ZC', 'trimestre__998': 2, 'annee__999': 2009, 'taux_chomage__999': nan, 'code_dept__999': 'ZD', 'trimestre__999': 2}
2026-01-10 20:45:31,551 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,551 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/7 (unordered)] {'annee__0': 2009, 'taux_chomage__0': 6.9, 'code_dept__0': '01', 'trimestre__0': 3, 'annee__1': 2009, 'taux_chomage__1': 12.3, 'code_dept__1': '02', 'trimestre__1': 3, 'annee__2': 2009, 'taux_chomage__2': 9.0, 'code_dept__2': '03', 'trimestre__2': 3, 'annee__3': 2009, 'taux_chomage__3': 9.6, 'code_dept__3': '04', 'trimestre__3': 3, 'annee__4': 2009, 'taux_chomage__4': 7.5, 'code_dept__4': '05', 'trimestre__4': 3, 'annee__5': 2009, 'taux_chomage__5': 8.4, 'code_dept__5': '06', 'trimestre__5': 3, 'annee__6': 2009, 'taux_chomage__6': 9.0, 'code_dept__6': '07', 'trimestre__6': 3, 'annee__7': 2009, 'taux_chomage__7': 11.7, 'code_dept__7': '08', 'trimestre__7': 3, 'annee__8': 2009, 'taux_chomage__8': 10.2, 'code_dept__8': '09', 'trimestre__8': 3, 'annee__9': 2009, 'taux_chomage__9': 9.2, 'code_dept__9': '10', 'trimestre__9': 3, 'annee__10': 2009, 'taux_chomage__10': 11.5, 'code_dept__10': '11', 'trimestre__10': 3, 'annee__11': 2009, 'taux_chomage__11': 6.2, 'code_dept__11': '12', 'trimestre__11': 3, 'annee__12': 2009, 'taux_chomage__12': 11.1 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 4, 'annee__988': 2011, 'taux_chomage__988': 8.9, 'code_dept__988': '89', 'trimestre__988': 4, 'annee__989': 2011, 'taux_chomage__989': 9.7, 'code_dept__989': '90', 'trimestre__989': 4, 'annee__990': 2011, 'taux_chomage__990': 6.6, 'code_dept__990': '91', 'trimestre__990': 4, 'annee__991': 2011, 'taux_chomage__991': 7.1, 'code_dept__991': '92', 'trimestre__991': 4, 'annee__992': 2011, 'taux_chomage__992': 11.6, 'code_dept__992': '93', 'trimestre__992': 4, 'annee__993': 2011, 'taux_chomage__993': 8.0, 'code_dept__993': '94', 'trimestre__993': 4, 'annee__994': 2011, 'taux_chomage__994': 9.1, 'code_dept__994': '95', 'trimestre__994': 4, 'annee__995': 2011, 'taux_chomage__995': 10.1, 'code_dept__995': '83', 'trimestre__995': 4, 'annee__996': 2011, 'taux_chomage__996': nan, 'code_dept__996': 'ZA', 'trimestre__996': 4, 'annee__997': 2011, 'taux_chomage__997': nan, 'code_dept__997': 'ZB', 'trimestre__997': 4, 'annee__998': 2011, 'taux_chomage__998': nan, 'code_dept__998': 'ZC', 'trimestre__998': 4, 'annee__999': 2011, 'taux_chomage__999': nan, 'code_dept__999': 'ZD', 'trimestre__999': 4}
2026-01-10 20:45:31,571 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,572 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/7 (unordered)] {'annee__0': 2012, 'taux_chomage__0': 6.6, 'code_dept__0': '01', 'trimestre__0': 1, 'annee__1': 2012, 'taux_chomage__1': 13.3, 'code_dept__1': '02', 'trimestre__1': 1, 'annee__2': 2012, 'taux_chomage__2': 9.5, 'code_dept__2': '03', 'trimestre__2': 1, 'annee__3': 2012, 'taux_chomage__3': 10.2, 'code_dept__3': '04', 'trimestre__3': 1, 'annee__4': 2012, 'taux_chomage__4': 8.3, 'code_dept__4': '05', 'trimestre__4': 1, 'annee__5': 2012, 'taux_chomage__5': 9.0, 'code_dept__5': '06', 'trimestre__5': 1, 'annee__6': 2012, 'taux_chomage__6': 9.6, 'code_dept__6': '07', 'trimestre__6': 1, 'annee__7': 2012, 'taux_chomage__7': 11.3, 'code_dept__7': '08', 'trimestre__7': 1, 'annee__8': 2012, 'taux_chomage__8': 11.3, 'code_dept__8': '09', 'trimestre__8': 1, 'annee__9': 2012, 'taux_chomage__9': 10.2, 'code_dept__9': '10', 'trimestre__9': 1, 'annee__10': 2012, 'taux_chomage__10': 12.7, 'code_dept__10': '11', 'trimestre__10': 1, 'annee__11': 2012, 'taux_chomage__11': 6.4, 'code_dept__11': '12', 'trimestre__11': 1, 'annee__12': 2012, 'taux_chomage__12': 11.7 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 2, 'annee__988': 2014, 'taux_chomage__988': 9.6, 'code_dept__988': '89', 'trimestre__988': 2, 'annee__989': 2014, 'taux_chomage__989': 11.5, 'code_dept__989': '90', 'trimestre__989': 2, 'annee__990': 2014, 'taux_chomage__990': 7.4, 'code_dept__990': '91', 'trimestre__990': 2, 'annee__991': 2014, 'taux_chomage__991': 7.7, 'code_dept__991': '92', 'trimestre__991': 2, 'annee__992': 2014, 'taux_chomage__992': 12.9, 'code_dept__992': '93', 'trimestre__992': 2, 'annee__993': 2014, 'taux_chomage__993': 8.8, 'code_dept__993': '94', 'trimestre__993': 2, 'annee__994': 2014, 'taux_chomage__994': 10.0, 'code_dept__994': '95', 'trimestre__994': 2, 'annee__995': 2014, 'taux_chomage__995': 10.8, 'code_dept__995': '83', 'trimestre__995': 2, 'annee__996': 2014, 'taux_chomage__996': 23.8, 'code_dept__996': 'ZA', 'trimestre__996': 2, 'annee__997': 2014, 'taux_chomage__997': 19.6, 'code_dept__997': 'ZB', 'trimestre__997': 2, 'annee__998': 2014, 'taux_chomage__998': 22.5, 'code_dept__998': 'ZC', 'trimestre__998': 2, 'annee__999': 2014, 'taux_chomage__999': 26.9, 'code_dept__999': 'ZD', 'trimestre__999': 2}
2026-01-10 20:45:31,600 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,600 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/7 (unordered)] {'annee__0': 2014, 'taux_chomage__0': 7.1, 'code_dept__0': '01', 'trimestre__0': 3, 'annee__1': 2014, 'taux_chomage__1': 13.9, 'code_dept__1': '02', 'trimestre__1': 3, 'annee__2': 2014, 'taux_chomage__2': 10.3, 'code_dept__2': '03', 'trimestre__2': 3, 'annee__3': 2014, 'taux_chomage__3': 11.3, 'code_dept__3': '04', 'trimestre__3': 3, 'annee__4': 2014, 'taux_chomage__4': 9.3, 'code_dept__4': '05', 'trimestre__4': 3, 'annee__5': 2014, 'taux_chomage__5': 10.4, 'code_dept__5': '06', 'trimestre__5': 3, 'annee__6': 2014, 'taux_chomage__6': 10.4, 'code_dept__6': '07', 'trimestre__6': 3, 'annee__7': 2014, 'taux_chomage__7': 12.1, 'code_dept__7': '08', 'trimestre__7': 3, 'annee__8': 2014, 'taux_chomage__8': 12.1, 'code_dept__8': '09', 'trimestre__8': 3, 'annee__9': 2014, 'taux_chomage__9': 12.2, 'code_dept__9': '10', 'trimestre__9': 3, 'annee__10': 2014, 'taux_chomage__10': 14.1, 'code_dept__10': '11', 'trimestre__10': 3, 'annee__11': 2014, 'taux_chomage__11': 7.3, 'code_dept__11': '12', 'trimestre__11': 3, 'annee__12': 2014, 'taux_chomage__12': 12.0 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 4, 'annee__988': 2016, 'taux_chomage__988': 9.5, 'code_dept__988': '89', 'trimestre__988': 4, 'annee__989': 2016, 'taux_chomage__989': 10.7, 'code_dept__989': '90', 'trimestre__989': 4, 'annee__990': 2016, 'taux_chomage__990': 7.7, 'code_dept__990': '91', 'trimestre__990': 4, 'annee__991': 2016, 'taux_chomage__991': 7.6, 'code_dept__991': '92', 'trimestre__991': 4, 'annee__992': 2016, 'taux_chomage__992': 12.8, 'code_dept__992': '93', 'trimestre__992': 4, 'annee__993': 2016, 'taux_chomage__993': 8.9, 'code_dept__993': '94', 'trimestre__993': 4, 'annee__994': 2016, 'taux_chomage__994': 10.1, 'code_dept__994': '95', 'trimestre__994': 4, 'annee__995': 2016, 'taux_chomage__995': 10.9, 'code_dept__995': '83', 'trimestre__995': 4, 'annee__996': 2016, 'taux_chomage__996': 21.2, 'code_dept__996': 'ZA', 'trimestre__996': 4, 'annee__997': 2016, 'taux_chomage__997': 16.7, 'code_dept__997': 'ZB', 'trimestre__997': 4, 'annee__998': 2016, 'taux_chomage__998': 21.8, 'code_dept__998': 'ZC', 'trimestre__998': 4, 'annee__999': 2016, 'taux_chomage__999': 22.0, 'code_dept__999': 'ZD', 'trimestre__999': 4}
2026-01-10 20:45:31,619 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,620 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/7 (unordered)] {'annee__0': 2017, 'taux_chomage__0': 7.0, 'code_dept__0': '01', 'trimestre__0': 1, 'annee__1': 2017, 'taux_chomage__1': 13.2, 'code_dept__1': '02', 'trimestre__1': 1, 'annee__2': 2017, 'taux_chomage__2': 9.8, 'code_dept__2': '03', 'trimestre__2': 1, 'annee__3': 2017, 'taux_chomage__3': 10.7, 'code_dept__3': '04', 'trimestre__3': 1, 'annee__4': 2017, 'taux_chomage__4': 8.9, 'code_dept__4': '05', 'trimestre__4': 1, 'annee__5': 2017, 'taux_chomage__5': 10.0, 'code_dept__5': '06', 'trimestre__5': 1, 'annee__6': 2017, 'taux_chomage__6': 10.3, 'code_dept__6': '07', 'trimestre__6': 1, 'annee__7': 2017, 'taux_chomage__7': 11.5, 'code_dept__7': '08', 'trimestre__7': 1, 'annee__8': 2017, 'taux_chomage__8': 11.6, 'code_dept__8': '09', 'trimestre__8': 1, 'annee__9': 2017, 'taux_chomage__9': 12.4, 'code_dept__9': '10', 'trimestre__9': 1, 'annee__10': 2017, 'taux_chomage__10': 12.9, 'code_dept__10': '11', 'trimestre__10': 1, 'annee__11': 2017, 'taux_chomage__11': 7.1, 'code_dept__11': '12', 'trimestre__11': 1, 'annee__12': 2017, 'taux_chomage__12': 11.5 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 2, 'annee__988': 2019, 'taux_chomage__988': 7.8, 'code_dept__988': '89', 'trimestre__988': 2, 'annee__989': 2019, 'taux_chomage__989': 8.9, 'code_dept__989': '90', 'trimestre__989': 2, 'annee__990': 2019, 'taux_chomage__990': 6.6, 'code_dept__990': '91', 'trimestre__990': 2, 'annee__991': 2019, 'taux_chomage__991': 6.5, 'code_dept__991': '92', 'trimestre__991': 2, 'annee__992': 2019, 'taux_chomage__992': 10.9, 'code_dept__992': '93', 'trimestre__992': 2, 'annee__993': 2019, 'taux_chomage__993': 7.4, 'code_dept__993': '94', 'trimestre__993': 2, 'annee__994': 2019, 'taux_chomage__994': 8.5, 'code_dept__994': '95', 'trimestre__994': 2, 'annee__995': 2019, 'taux_chomage__995': 9.2, 'code_dept__995': '83', 'trimestre__995': 2, 'annee__996': 2019, 'taux_chomage__996': 19.5, 'code_dept__996': 'ZA', 'trimestre__996': 2, 'annee__997': 2019, 'taux_chomage__997': 14.4, 'code_dept__997': 'ZB', 'trimestre__997': 2, 'annee__998': 2019, 'taux_chomage__998': 19.9, 'code_dept__998': 'ZC', 'trimestre__998': 2, 'annee__999': 2019, 'taux_chomage__999': 22.1, 'code_dept__999': 'ZD', 'trimestre__999': 2}
2026-01-10 20:45:31,639 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 80279 characters truncated ... aux_chomage__998)s), (%(code_dept__999)s, %(annee__999)s, %(trimestre__999)s, %(taux_chomage__999)s)
2026-01-10 20:45:31,640 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/7 (unordered)] {'annee__0': 2019, 'taux_chomage__0': 6.0, 'code_dept__0': '01', 'trimestre__0': 3, 'annee__1': 2019, 'taux_chomage__1': 11.4, 'code_dept__1': '02', 'trimestre__1': 3, 'annee__2': 2019, 'taux_chomage__2': 8.8, 'code_dept__2': '03', 'trimestre__2': 3, 'annee__3': 2019, 'taux_chomage__3': 9.7, 'code_dept__3': '04', 'trimestre__3': 3, 'annee__4': 2019, 'taux_chomage__4': 7.9, 'code_dept__4': '05', 'trimestre__4': 3, 'annee__5': 2019, 'taux_chomage__5': 8.7, 'code_dept__5': '06', 'trimestre__5': 3, 'annee__6': 2019, 'taux_chomage__6': 9.0, 'code_dept__6': '07', 'trimestre__6': 3, 'annee__7': 2019, 'taux_chomage__7': 10.0, 'code_dept__7': '08', 'trimestre__7': 3, 'annee__8': 2019, 'taux_chomage__8': 10.5, 'code_dept__8': '09', 'trimestre__8': 3, 'annee__9': 2019, 'taux_chomage__9': 10.5, 'code_dept__9': '10', 'trimestre__9': 3, 'annee__10': 2019, 'taux_chomage__10': 11.4, 'code_dept__10': '11', 'trimestre__10': 3, 'annee__11': 2019, 'taux_chomage__11': 6.3, 'code_dept__11': '12', 'trimestre__11': 3, 'annee__12': 2019, 'taux_chomage__12': 10.0 ... 3900 parameters truncated ... 'code_dept__987': '88', 'trimestre__987': 4, 'annee__988': 2021, 'taux_chomage__988': 6.6, 'code_dept__988': '89', 'trimestre__988': 4, 'annee__989': 2021, 'taux_chomage__989': 8.5, 'code_dept__989': '90', 'trimestre__989': 4, 'annee__990': 2021, 'taux_chomage__990': 6.4, 'code_dept__990': '91', 'trimestre__990': 4, 'annee__991': 2021, 'taux_chomage__991': 6.2, 'code_dept__991': '92', 'trimestre__991': 4, 'annee__992': 2021, 'taux_chomage__992': 10.5, 'code_dept__992': '93', 'trimestre__992': 4, 'annee__993': 2021, 'taux_chomage__993': 7.3, 'code_dept__993': '94', 'trimestre__993': 4, 'annee__994': 2021, 'taux_chomage__994': 8.3, 'code_dept__994': '95', 'trimestre__994': 4, 'annee__995': 2021, 'taux_chomage__995': 7.5, 'code_dept__995': '83', 'trimestre__995': 4, 'annee__996': 2021, 'taux_chomage__996': 15.6, 'code_dept__996': 'ZA', 'trimestre__996': 4, 'annee__997': 2021, 'taux_chomage__997': 10.9, 'code_dept__997': 'ZB', 'trimestre__997': 4, 'annee__998': 2021, 'taux_chomage__998': 13.6, 'code_dept__998': 'ZC', 'trimestre__998': 4, 'annee__999': 2021, 'taux_chomage__999': 19.0, 'code_dept__999': 'ZD', 'trimestre__999': 4}
2026-01-10 20:45:31,654 INFO sqlalchemy.engine.Engine INSERT INTO chomage (code_dept, annee, trimestre, taux_chomage) VALUES (%(code_dept__0)s, %(annee__0)s, %(trimestre__0)s, %(taux_chomage__0)s), (%(code_dept__1)s, %(annee__1)s, %(trimestre__1)s, %(taux_chomage__1)s), (%(code_dept__2)s, %(annee__2)s,  ... 31679 characters truncated ... aux_chomage__398)s), (%(code_dept__399)s, %(annee__399)s, %(trimestre__399)s, %(taux_chomage__399)s)
2026-01-10 20:45:31,655 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/7 (unordered)] {'annee__0': 2022, 'taux_chomage__0': 5.4, 'code_dept__0': '01', 'trimestre__0': 1, 'annee__1': 2022, 'taux_chomage__1': 10.5, 'code_dept__1': '02', 'trimestre__1': 1, 'annee__2': 2022, 'taux_chomage__2': 7.7, 'code_dept__2': '03', 'trimestre__2': 1, 'annee__3': 2022, 'taux_chomage__3': 8.3, 'code_dept__3': '04', 'trimestre__3': 1, 'annee__4': 2022, 'taux_chomage__4': 6.9, 'code_dept__4': '05', 'trimestre__4': 1, 'annee__5': 2022, 'taux_chomage__5': 7.5, 'code_dept__5': '06', 'trimestre__5': 1, 'annee__6': 2022, 'taux_chomage__6': 8.2, 'code_dept__6': '07', 'trimestre__6': 1, 'annee__7': 2022, 'taux_chomage__7': 9.4, 'code_dept__7': '08', 'trimestre__7': 1, 'annee__8': 2022, 'taux_chomage__8': 9.3, 'code_dept__8': '09', 'trimestre__8': 1, 'annee__9': 2022, 'taux_chomage__9': 9.6, 'code_dept__9': '10', 'trimestre__9': 1, 'annee__10': 2022, 'taux_chomage__10': 10.2, 'code_dept__10': '11', 'trimestre__10': 1, 'annee__11': 2022, 'taux_chomage__11': 5.6, 'code_dept__11': '12', 'trimestre__11': 1, 'annee__12': 2022, 'taux_chomage__12': 8.8 ... 1500 parameters truncated ... 'code_dept__387': '88', 'trimestre__387': 4, 'annee__388': 2022, 'taux_chomage__388': 6.7, 'code_dept__388': '89', 'trimestre__388': 4, 'annee__389': 2022, 'taux_chomage__389': 8.1, 'code_dept__389': '90', 'trimestre__389': 4, 'annee__390': 2022, 'taux_chomage__390': 6.3, 'code_dept__390': '91', 'trimestre__390': 4, 'annee__391': 2022, 'taux_chomage__391': 5.7, 'code_dept__391': '92', 'trimestre__391': 4, 'annee__392': 2022, 'taux_chomage__392': 10.1, 'code_dept__392': '93', 'trimestre__392': 4, 'annee__393': 2022, 'taux_chomage__393': 7.0, 'code_dept__393': '94', 'trimestre__393': 4, 'annee__394': 2022, 'taux_chomage__394': 7.9, 'code_dept__394': '95', 'trimestre__394': 4, 'annee__395': 2022, 'taux_chomage__395': 7.2, 'code_dept__395': '83', 'trimestre__395': 4, 'annee__396': 2022, 'taux_chomage__396': 19.3, 'code_dept__396': 'ZA', 'trimestre__396': 4, 'annee__397': 2022, 'taux_chomage__397': 9.9, 'code_dept__397': 'ZB', 'trimestre__397': 4, 'annee__398': 2022, 'taux_chomage__398': 10.8, 'code_dept__398': 'ZC', 'trimestre__398': 4, 'annee__399': 2022, 'taux_chomage__399': 16.9, 'code_dept__399': 'ZD', 'trimestre__399': 4}
2026-01-10 20:45:31,713 INFO sqlalchemy.engine.Engine COMMIT