Election de 2022 premier tour

In [1]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'alembic.ini',
 'economie_chomage.ipynb',
 'economie',
 'menage_epargne.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data',
 'menage_depense.ipynb']

#### Importer la database

Import des datasets.

In [2]:
df = pd.read_excel('./data/economie/menage/epargne.xlsx')

Visualise toutes les colones

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head(1000)

    Année  Taux d'épargne
0    1960            17.0
1    1961            16.2
2    1962            18.3
3    1963            17.8
4    1964            17.6
..    ...             ...
58   2018            14.4
59   2019            15.1
60   2020            20.9
61   2021            19.0
62   2022            17.4

[63 rows x 2 columns]

Renommer les colonnes

In [4]:
df.columns = [
    "annee", "taux_epargne"
]
df.head()

   annee  taux_epargne
0   1960          17.0
1   1961          16.2
2   1962          18.3
3   1963          17.8
4   1964          17.6

Normalisation structurelle

In [5]:
# Conversion de l'année en int

df["annee"] = (
    df["annee"]
    .astype(str)
    .str.extract(r"(\d{4})")[0]  # sécurité si texte parasite
    .astype(int)
)


# Conversion des pourcentages en float

colonnes_pourcentage = [
    "taux_epargne",
]

for col in colonnes_pourcentage:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace("%", "", regex=False)
        .str.replace(",", ".", regex=False)
        .str.strip()
        .astype(float)
    )

In [6]:
df = df[(df["annee"] >= 2007) & (df["annee"] <= 2022)]

In [7]:
df.head(16)

    annee  taux_epargne
47   2007          14.8
48   2008          14.8
49   2009          16.1
50   2010          16.0
51   2011          15.6
52   2012          15.6
53   2013          14.2
54   2014          14.6
55   2015          14.1
56   2016          13.9
57   2017          14.1
58   2018          14.4
59   2019          15.1
60   2020          20.9
61   2021          19.0
62   2022          17.4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 47 to 62
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   annee         16 non-null     int64
 1   taux_epargne  16 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 384.0 bytes

In [ ]:
from db import SessionLocal
from models import MenageEpargne

# Création d'une session
session = SessionLocal()

# Insertion des données du DataFrame
for row in df.itertuples(index=False):
    record = MenageEpargne(
        annee=row.annee,
        taux_epargne=row.taux_epargne
    )
    session.add(record)

# Validation / commit
session.commit()

print(f"Insertion terminée pour les années {df['annee'].min()} à {df['annee'].max()}.")

2026-01-08 06:45:23,991 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-08 06:45:23,992 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-08 06:45:23,997 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-08 06:45:23,997 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-08 06:45:23,998 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-08 06:45:23,999 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-08 06:45:24,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-08 06:45:24,003 INFO sqlalchemy.engine.Engine INSERT INTO menage_depenses (annee, pre_engagees, logement, service_multimedia) SELECT p0::INTEGER, p1::FLOAT, p2::FLOAT, p3::FLOAT FROM (VALUES (%(annee__0)s, %(pre_engagees__0)s, %(logement__0)s, %(service_multimedia__0)s, 0), (%(annee__1)s, %(pre_ ... 1287 characters truncated ...  p2, p3, sen_counter) ORDER BY sen_counter RETURNING menage_depenses.id, menage_depenses.id AS id__1
2026-01-08 06:45:24,003 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/1 (ordered)] {'pre_engagees__0': 28.4, 'logement__0': 20.9, 'annee__0': 2007, 'service_multimedia__0': 2.8, 'pre_engagees__1': 29.0, 'logement__1': 21.2, 'annee__1': 2008, 'service_multimedia__1': 2.9, 'pre_engagees__2': 28.9, 'logement__2': 21.5, 'annee__2': 2009, 'service_multimedia__2': 2.9, 'pre_engagees__3': 28.7, 'logement__3': 21.7, 'annee__3': 2010, 'service_multimedia__3': 2.8, 'pre_engagees__4': 28.6, 'logement__4': 21.8, 'annee__4': 2011, 'service_multimedia__4': 2.7, 'pre_engagees__5': 29.0, 'logement__5': 22.5, 'annee__5': 2012, 'service_multimedia__5': 2.5, 'pre_engagees__6': 29.8, 'logement__6': 23.2, 'annee__6': 2013, 'service_multimedia__6': 2.4, 'pre_engagees__7': 29.4, 'logement__7': 23.0, 'annee__7': 2014, 'service_multimedia__7': 2.3, 'pre_engagees__8': 29.6, 'logement__8': 23.1, 'annee__8': 2015, 'service_multimedia__8': 2.2, 'pre_engagees__9': 29.4, 'logement__9': 23.0, 'annee__9': 2016, 'service_multimedia__9': 2.2, 'pre_engagees__10': 29.2, 'logement__10': 22.8, 'annee__10': 2017, 'service_multimedia__10': 2.1, 'pre_engagees__11': 29.1, 'logement__11': 22.7, 'annee__11': 2018, 'service_multimedia__11': 2.1, 'pre_engagees__12': 28.8, 'logement__12': 22.6, 'annee__12': 2019, 'service_multimedia__12': 2.1, 'pre_engagees__13': 28.5, 'logement__13': 22.5, 'annee__13': 2020, 'service_multimedia__13': 2.1, 'pre_engagees__14': 28.5, 'logement__14': 22.5, 'annee__14': 2021, 'service_multimedia__14': 2.1, 'pre_engagees__15': 27.9, 'logement__15': 22.1, 'annee__15': 2022, 'service_multimedia__15': 2.0}
2026-01-08 06:45:24,006 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "menage_depenses" does not exist
LINE 1: INSERT INTO menage_depenses (annee, pre_engagees, logement, ...
                    ^

[SQL: INSERT INTO menage_depenses (annee, pre_engagees, logement, service_multimedia) SELECT p0::INTEGER, p1::FLOAT, p2::FLOAT, p3::FLOAT FROM (VALUES (%(annee__0)s, %(pre_engagees__0)s, %(logement__0)s, %(service_multimedia__0)s, 0), (%(annee__1)s, %(pre_ ... 1287 characters truncated ...  p2, p3, sen_counter) ORDER BY sen_counter RETURNING menage_depenses.id, menage_depenses.id AS id__1]
[parameters: {'pre_engagees__0': 28.4, 'logement__0': 20.9, 'annee__0': 2007, 'service_multimedia__0': 2.8, 'pre_engagees__1': 29.0, 'logement__1': 21.2, 'annee__1': 2008, 'service_multimedia__1': 2.9, 'pre_engagees__2': 28.9, 'logement__2': 21.5, 'annee__2': 2009, 'service_multimedia__2': 2.9, 'pre_engagees__3': 28.7, 'logement__3': 21.7, 'annee__3': 2010, 'service_multimedia__3': 2.8, 'pre_engagees__4': 28.6, 'logement__4': 21.8, 'annee__4': 2011, 'service_multimedia__4': 2.7, 'pre_engagees__5': 29.0, 'logement__5': 22.5, 'annee__5': 2012, 'service_multimedia__5': 2.5, 'pre_engagees__6': 29.8, 'logement__6': 23.2, 'annee__6': 2013, 'service_multimedia__6': 2.4, 'pre_engagees__7': 29.4, 'logement__7': 23.0, 'annee__7': 2014, 'service_multimedia__7': 2.3, 'pre_engagees__8': 29.6, 'logement__8': 23.1, 'annee__8': 2015, 'service_multimedia__8': 2.2, 'pre_engagees__9': 29.4, 'logement__9': 23.0, 'annee__9': 2016, 'service_multimedia__9': 2.2, 'pre_engagees__10': 29.2, 'logement__10': 22.8, 'annee__10': 2017, 'service_multimedia__10': 2.1, 'pre_engagees__11': 29.1, 'logement__11': 22.7, 'annee__11': 2018, 'service_multimedia__11': 2.1, 'pre_engagees__12': 28.8, 'logement__12': 22.6, 'annee__12': 2019, 'service_multimedia__12': 2.1, 'pre_engagees__13': 28.5, 'logement__13': 22.5, 'annee__13': 2020, 'service_multimedia__13': 2.1, 'pre_engagees__14': 28.5, 'logement__14': 22.5, 'annee__14': 2021, 'service_multimedia__14': 2.1, 'pre_engagees__15': 27.9, 'logement__15': 22.1, 'annee__15': 2022, 'service_multimedia__15': 2.0}]
(Background on this error at: https://sqlalche.me/e/20/f405)