Election de 2022 premier tour

In [75]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'alembic.ini',
 'economie_chomage.ipynb',
 'economie',
 'menage_epargne.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data',
 'menage_prix_consomation.ipynb',
 'menage_depense.ipynb']

#### Importer la database

Import des datasets.

In [76]:
df_prix_cosomation = pd.read_excel('./data/economie/menage/prix-consommation-base-2018 .xlsx')
df_depense = pd.read_excel('./data/economie/menage/depenses.xlsx')
df_epargne = pd.read_excel('./data/economie/menage/epargne.xlsx')

Visualise toutes les colones

In [77]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df_prix_cosomation.head()

   Année  Indice des prix à la consommation
0    2022                               5.2
1    2021                               1.6
2    2020                               0.5
3    2019                               1.1
4    2018                           (r) 1,9

In [78]:
df_depense.head()

,Année,Dépenses pré-engagées,Dépenses liées au logement,Services de télévision et de télécommunications
0,1960,12.6,9.5,0.5
1,1961,13.1,10.0,0.5
2,1962,13.2,10.2,0.5
3,1963,13.9,10.7,0.5
4,1964,14.2,10.9,0.5

In [79]:
df_epargne.head()

   Année  Taux d'épargne
0   1960            17.0
1   1961            16.2
2   1962            18.3
3   1963            17.8
4   1964            17.6

Renommer les colonnes

In [80]:
df_prix_cosomation.columns = [
    "annee", "prix_consommation"
]

df_epargne.columns = [
    "annee", "taux_epargne"
]

df_depense.columns = [
    "annee", "pre_engagees", "logement", "service_multimedia",
]

Normalisation structurelle

In [81]:
def normaliser_df_contexte(
    df: pd.DataFrame,
    colonnes_numeriques: list[str],
    colonne_annee: str = "annee"
) -> pd.DataFrame:
    """
    Normalise un DataFrame de données de contexte annuel.

    - Extrait l'année sur 4 chiffres
    - Nettoie les annotations (ex: (r), %, virgules)
    - Convertit les colonnes numériques en float

    :param df: DataFrame source
    :param colonnes_numeriques: Liste des colonnes à convertir en float
    :param colonne_annee: Nom de la colonne année (par défaut 'annee')
    :return: DataFrame normalisé
    """

    df = df.copy()

    # ============================
    # Normalisation de l'année
    # ============================
    df[colonne_annee] = (
        df[colonne_annee]
        .astype(str)
        .str.extract(r"(\d{4})")[0]
        .astype(int)
    )

    # ============================
    # Normalisation des colonnes numériques
    # ============================
    for col in colonnes_numeriques:
        df[col] = (
            df[col]
            .astype(str)
            # Supprimer les annotations type (r), (p), (e)…
            .str.replace(r"^\(.*?\)\s*", "", regex=True)
            # Supprimer les %
            .str.replace("%", "", regex=False)
            # Virgule → point
            .str.replace(",", ".", regex=False)
            .str.strip()
            # Valeurs non convertibles → NaN
            .astype(float)
        )

    return df[(df["annee"] >= 2007) & (df["annee"] <= 2022)]

In [82]:
from functools import reduce
import pandas as pd

def fusionner_contexte_menage(
    dfs: list[pd.DataFrame],
    colonne_annee: str = "annee"
) -> pd.DataFrame:
    """
    Fusionne plusieurs DataFrames de contexte ménage sur l'année.

    - Jointure OUTER pour ne perdre aucune année
    - Une ligne par année
    """

    # Sécurité : garder uniquement les DF contenant la colonne année
    dfs_valides = [
        df for df in dfs if colonne_annee in df.columns
    ]

    if not dfs_valides:
        raise ValueError("Aucun DataFrame ne contient la colonne 'annee'")

    df_fusion = reduce(
        lambda left, right: pd.merge(
            left,
            right,
            on=colonne_annee,
            how="outer"
        ),
        dfs_valides
    )

    return df_fusion.sort_values(colonne_annee).reset_index(drop=True)

In [83]:
df_prix_cosomation = normaliser_df_contexte(df_prix_cosomation, colonnes_numeriques=["prix_consommation"])
df_epargne = normaliser_df_contexte(df_epargne, colonnes_numeriques=["taux_epargne"])
df_depense = normaliser_df_contexte(df_depense, colonnes_numeriques=["pre_engagees", "logement", "service_multimedia"])

In [84]:
df = fusionner_contexte_menage([
    df_prix_cosomation,
    df_epargne,
    df_depense
])

In [85]:
df.head(16)

,annee,prix_consommation,taux_epargne,pre_engagees,logement,service_multimedia
0,2007,1.5,14.8,28.4,20.9,2.8
1,2008,2.8,14.8,29.0,21.2,2.9
2,2009,0.1,16.1,28.9,21.5,2.9
3,2010,1.5,16.0,28.7,21.7,2.8
4,2011,2.1,15.6,28.6,21.8,2.7
5,2012,2.0,15.6,29.0,22.5,2.5
6,2013,0.9,14.2,29.8,23.2,2.4
7,2014,0.5,14.6,29.4,23.0,2.3
8,2015,0.0,14.1,29.6,23.1,2.2
9,2016,0.2,13.9,29.4,23.0,2.2
10,2017,1.0,14.1,29.2,22.8,2.1
11,2018,1.9,14.4,29.1,22.7,2.1
12,2019,1.1,15.1,28.8,22.6,2.1
13,2020,0.5,20.9,28.5,22.5,2.1
14,2021,1.6,19.0,28.5,22.5,2.1
15,2022,5.2,17.4,27.9,22.1,2.0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   annee               16 non-null     int64
 1   prix_consommation   16 non-null     float64
 2   taux_epargne        16 non-null     float64
 3   pre_engagees        16 non-null     float64
 4   logement            16 non-null     float64
 5   service_multimedia  16 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 900.0 bytes

In [88]:
from sqlalchemy.orm import Session
from models import Menage  # ton modèle Menage
from db import SessionLocal  # ta session SQLAlchemy

def inserer_menage(df: pd.DataFrame):
    """
    Insère les données du DataFrame fusionné dans la table Menage.
    """
    session = SessionLocal()
    try:
        for row in df.itertuples(index=False):
            record = Menage(
                annee=row.annee,
                pre_engagees=getattr(row, "pre_engagees", None),
                logement=getattr(row, "logement", None),
                service_multimedia=getattr(row, "service_multimedia", None),
                taux_epargne=getattr(row, "taux_epargne", None),
                prix_consommation=getattr(row, "prix_consommation", None)
            )
            session.add(record)

        session.commit()
        print(f"Insertion terminée : {len(df)} lignes ajoutées.")
    except Exception as e:
        session.rollback()
        print("Erreur lors de l'insertion :", e)
    finally:
        session.close()

In [90]:
# Supposons que df_contexte_menage est ton DataFrame fusionné
inserer_menage(df)

2026-01-09 06:03:55,895 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-09 06:03:55,897 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-09 06:03:55,903 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-09 06:03:55,903 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-09 06:03:55,904 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-09 06:03:55,905 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-09 06:03:55,906 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-09 06:03:55,912 INFO sqlalchemy.engine.Engine INSERT INTO menage_contexte (annee, pre_engagees, logement, service_multimedia, taux_epargne, prix_consommation) SELECT p0::INTEGER, p1::FLOAT, p2::FLOAT, p3::FLOAT, p4::FLOAT, p5::FLOAT FROM (VALUES (%(annee__0)s, %(pre_engagees__0)s, %(logement__0) ... 2114 characters truncated ...  p4, p5, sen_counter) ORDER BY sen_counter RETURNING menage_contexte.id, menage_contexte.id AS id__1
2026-01-09 06:03:55,912 INFO sqlalchemy.engine.Engine [generated in 0.00020s (insertmanyvalues) 1/1 (ordered)] {'annee__0': 2007, 'logement__0': 20.9, 'service_multimedia__0': 2.8, 'pre_engagees__0': 28.4, 'prix_consommation__0': 1.5, 'taux_epargne__0': 14.8, 'annee__1': 2008, 'logement__1': 21.2, 'service_multimedia__1': 2.9, 'pre_engagees__1': 29.0, 'prix_consommation__1': 2.8, 'taux_epargne__1': 14.8, 'annee__2': 2009, 'logement__2': 21.5, 'service_multimedia__2': 2.9, 'pre_engagees__2': 28.9, 'prix_consommation__2': 0.1, 'taux_epargne__2': 16.1, 'annee__3': 2010, 'logement__3': 21.7, 'service_multimedia__3': 2.8, 'pre_engagees__3': 28.7, 'prix_consommation__3': 1.5, 'taux_epargne__3': 16.0, 'annee__4': 2011, 'logement__4': 21.8, 'service_multimedia__4': 2.7, 'pre_engagees__4': 28.6, 'prix_consommation__4': 2.1, 'taux_epargne__4': 15.6, 'annee__5': 2012, 'logement__5': 22.5, 'service_multimedia__5': 2.5, 'pre_engagees__5': 29.0, 'prix_consommation__5': 2.0, 'taux_epargne__5': 15.6, 'annee__6': 2013, 'logement__6': 23.2, 'service_multimedia__6': 2.4, 'pre_engagees__6': 29.8, 'prix_consommation__6': 0.9, 'taux_epargne__6': 14.2, 'annee__7': 2014, 'logement__7': 23.0, 'service_multimedia__7': 2.3, 'pre_engagees__7': 29.4, 'prix_consommation__7': 0.5, 'taux_epargne__7': 14.6, 'annee__8': 2015, 'logement__8': 23.1, 'service_multimedia__8': 2.2, 'pre_engagees__8': 29.6, 'prix_consommation__8': 0.0, 'taux_epargne__8': 14.1, 'annee__9': 2016, 'logement__9': 23.0, 'service_multimedia__9': 2.2, 'pre_engagees__9': 29.4, 'prix_consommation__9': 0.2, 'taux_epargne__9': 13.9, 'annee__10': 2017, 'logement__10': 22.8, 'service_multimedia__10': 2.1, 'pre_engagees__10': 29.2, 'prix_consommation__10': 1.0, 'taux_epargne__10': 14.1, 'annee__11': 2018, 'logement__11': 22.7, 'service_multimedia__11': 2.1, 'pre_engagees__11': 29.1, 'prix_consommation__11': 1.9, 'taux_epargne__11': 14.4, 'annee__12': 2019, 'logement__12': 22.6, 'service_multimedia__12': 2.1, 'pre_engagees__12': 28.8, 'prix_consommation__12': 1.1, 'taux_epargne__12': 15.1, 'annee__13': 2020, 'logement__13': 22.5, 'service_multimedia__13': 2.1, 'pre_engagees__13': 28.5, 'prix_consommation__13': 0.5, 'taux_epargne__13': 20.9, 'annee__14': 2021, 'logement__14': 22.5, 'service_multimedia__14': 2.1, 'pre_engagees__14': 28.5, 'prix_consommation__14': 1.6, 'taux_epargne__14': 19.0, 'annee__15': 2022, 'logement__15': 22.1, 'service_multimedia__15': 2.0, 'pre_engagees__15': 27.9, 'prix_consommation__15': 5.2, 'taux_epargne__15': 17.4}
2026-01-09 06:03:55,916 INFO sqlalchemy.engine.Engine ROLLBACK
Erreur lors de l'insertion : (psycopg2.errors.UndefinedTable) relation "menage_contexte" does not exist
LINE 1: INSERT INTO menage_contexte (annee, pre_engagees, logement, ...
                    ^

[SQL: INSERT INTO menage_contexte (annee, pre_engagees, logement, service_multimedia, taux_epargne, prix_consommation) SELECT p0::INTEGER, p1::FLOAT, p2::FLOAT, p3::FLOAT, p4::FLOAT, p5::FLOAT FROM (VALUES (%(annee__0)s, %(pre_engagees__0)s, %(logement__0) ... 2114 characters truncated ...  p4, p5, sen_counter) ORDER BY sen_counter RETURNING menage_contexte.id, menage_contexte.id AS id__1]
[parameters: {'annee__0': 2007, 'logement__0': 20.9, 'service_multimedia__0': 2.8, 'pre_engagees__0': 28.4, 'prix_consommation__0': 1.5, 'taux_epargne__0': 14.8, 'annee__1': 2008, 'logement__1': 21.2, 'service_multimedia__1': 2.9, 'pre_engagees__1': 29.0, 'prix_consommation__1': 2.8, 'taux_epargne__1': 14.8, 'annee__2': 2009, 'logement__2': 21.5, 'service_multimedia__2': 2.9, 'pre_engagees__2': 28.9, 'prix_consommation__2': 0.1, 'taux_epargne__2': 16.1, 'annee__3': 2010, 'logement__3': 21.7, 'service_multimedia__3': 2.8, 'pre_engagees__3': 28.7, 'prix_consommation__3': 1.5, 'taux_epargne__3': 16.0, 'annee__4': 2011, 'logement__4': 21.8, 'service_multimedia__4': 2.7, 'pre_engagees__4': 28.6, 'prix_consommation__4': 2.1, 'taux_epargne__4': 15.6, 'annee__5': 2012, 'logement__5': 22.5, 'service_multimedia__5': 2.5, 'pre_engagees__5': 29.0, 'prix_consommation__5': 2.0, 'taux_epargne__5': 15.6, 'annee__6': 2013, 'logement__6': 23.2, 'service_multimedia__6': 2.4, 'pre_engagees__6': 29.8, 'prix_consommation__6': 0.9, 'taux_epargne__6': 14.2, 'annee__7': 2014, 'logement__7': 23.0, 'service_multimedia__7': 2.3, 'pre_engagees__7': 29.4, 'prix_consommation__7': 0.5, 'taux_epargne__7': 14.6, 'annee__8': 2015, 'logement__8': 23.1, 'service_multimedia__8': 2.2, 'pre_engagees__8': 29.6, 'prix_consommation__8': 0.0, 'taux_epargne__8': 14.1, 'annee__9': 2016, 'logement__9': 23.0, 'service_multimedia__9': 2.2, 'pre_engagees__9': 29.4, 'prix_consommation__9': 0.2, 'taux_epargne__9': 13.9, 'annee__10': 2017, 'logement__10': 22.8, 'service_multimedia__10': 2.1, 'pre_engagees__10': 29.2, 'prix_consommation__10': 1.0, 'taux_epargne__10': 14.1, 'annee__11': 2018, 'logement__11': 22.7, 'service_multimedia__11': 2.1, 'pre_engagees__11': 29.1, 'prix_consommation__11': 1.9, 'taux_epargne__11': 14.4, 'annee__12': 2019, 'logement__12': 22.6, 'service_multimedia__12': 2.1, 'pre_engagees__12': 28.8, 'prix_consommation__12': 1.1, 'taux_epargne__12': 15.1, 'annee__13': 2020, 'logement__13': 22.5, 'service_multimedia__13': 2.1, 'pre_engagees__13': 28.5, 'prix_consommation__13': 0.5, 'taux_epargne__13': 20.9, 'annee__14': 2021, 'logement__14': 22.5, 'service_multimedia__14': 2.1, 'pre_engagees__14': 28.5, 'prix_consommation__14': 1.6, 'taux_epargne__14': 19.0, 'annee__15': 2022, 'logement__15': 22.1, 'service_multimedia__15': 2.0, 'pre_engagees__15': 27.9, 'prix_consommation__15': 5.2, 'taux_epargne__15': 17.4}]
(Background on this error at: https://sqlalche.me/e/20/f405)