Election de 2022 premier tour

In [128]:
import numpy as np
import pandas as pd
import os
os.listdir()

['pipeline',
 'elec17.py',
 'migrations',
 'election2017.ipynb',
 'elec22.py',
 'entreprise.ipynb',
 '.DS_Store',
 'elec12.py',
 'alembic.ini',
 'economie_chomage.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 'menage.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data']

#### Importer la database

Import des datasets.

In [129]:
df = pd.read_excel('./data/populations/pop-2007.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: './data/populations/pop-2007.xlsx'

Visualise toutes les colones

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head(1000)

,D√©partements,Unnamed: 1,Ensemble,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Hommes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Femmes,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,0 √† 19 ans,20 √† 39 ans,40 √† 59 ans,60 √† 74 ans,75 ans et plus,Total,0 √† 19 ans,20 √† 39 ans,40 √† 59 ans,60 √† 74 ans,75 ans et plus,Total,0 √† 19 ans,20 √† 39 ans,40 √† 59 ans,60 √† 74 ans,75 ans et plus,Total
1,01,Ain,153719,147284,163003,68837,41534,574377,78672,74187,81771,33496,15625,283751,75047,73097,81232,35341,25909,290626
2,02,Aisne,141079,131304,152341,67757,45339,537820,72302,65638,76034,31402,16208,261584,68777,65666,76307,36355,29131,276236
3,03,Allier,71446,74685,97923,56218,42842,343114,36753,37614,48399,25918,15787,164471,34693,37071,49524,30300,27055,178643
4,04,Alpes-de-Haute-Provence,35905,32707,45416,25895,16144,156067,18655,15991,22354,12322,6247,75569,17250,16716,23062,13573,9897,80498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95,Val-d'Oise,336059,328308,323309,112904,60141,1160721,172309,160395,156871,54232,21198,565005,163750,167913,166438,58672,38943,595716
97,971,Guadeloupe,122977,98651,110972,45406,22578,400584,63118,44730,51025,20686,8766,188325,59859,53921,59947,24720,13812,212259
98,972,Martinique,113813,97129,113223,48495,25070,397730,57391,44191,51680,22116,9592,184970,56422,52938,61543,26379,15478,212760
99,973,Guyane,94722,63937,41967,9220,3185,213031,47623,30538,21381,4720,1284,105546,47099,33399,20586,4500,1901,107485
100,974,La R√©union,278190,227692,200272,63748,24205,794107,141874,107793,97687,29243,8738,385335,136316,119899,102585,34505,15467,408772

In [ ]:
def split_and_explode_population(df):
    """
    S√©pare le dataframe source en hommes / femmes,
    puis transforme chaque sous-dataframe en format long
    """

    # --- 1. S√©paration hommes / femmes ---
    df_homme = pd.concat([df.iloc[:, :2], df.iloc[:, 8:14]], axis=1)
    df_femme = pd.concat([df.iloc[:, :2], df.iloc[:, 14:20]], axis=1)

    return df_homme, df_femme

In [ ]:
df_homme, df_femme = split_and_explode_population(df)

df_homme.head()

,D√©partements,Unnamed: 1,Hommes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,0 √† 19 ans,20 √† 39 ans,40 √† 59 ans,60 √† 74 ans,75 ans et plus,Total
1,01,Ain,78672,74187,81771,33496,15625,283751
2,02,Aisne,72302,65638,76034,31402,16208,261584
3,03,Allier,36753,37614,48399,25918,15787,164471
4,04,Alpes-de-Haute-Provence,18655,15991,22354,12322,6247,75569

In [ ]:
import pandas as pd
import math

def explode_population_dataframe(df, sexe, annee, debug=True):
    """
    Transforme un dataframe large (par tranche d'√¢ge)
    en dataframe long (1 ligne = 1 tranche)
    """
    lignes = []

    tranche_map = {
        2: "0 √† 19 ans",
        3: "20 √† 39 ans",
        4: "40 √† 59 ans",
        5: "60 √† 74 ans",
        6: "75 ans et plus"
    }

    if debug:
        print("=== D√âBUT TRAITEMENT DATAFRAME ===")
        print(f"Sexe trait√© : {sexe}")
        print(f"Nombre de lignes source : {len(df)}")
        print("-" * 50)

    for idx, row in df.iterrows():

        code_raw = row.iloc[0]
        nom_dept = row.iloc[1]

        # üö´ SKIP ligne d'en-t√™te ou invalide
        if pd.isna(code_raw) or not str(code_raw).isdigit():
            if debug:
                print(f"[LIGNE {idx}] ‚è≠Ô∏è ignor√©e (ligne d'en-t√™te ou invalide)")
            continue

        code_dept = str(code_raw).zfill(2)

        if debug:
            print(f"[LIGNE {idx}] D√©partement {code_dept} - {nom_dept}")

        for col_idx, tranche in tranche_map.items():
            population = row.iloc[col_idx]

            # s√©curit√© suppl√©mentaire
            if pd.isna(population):
                population = 0

            if debug:
                print(
                    f"  ‚Üí Tranche: {tranche:<15} | "
                    f"Population: {population}"
                )

            lignes.append({
                "code_dept": code_dept,
                "nom_dept": nom_dept,
                "sexe": sexe,
                "tranche_age": tranche,
                "population": int(population),
                "annee": annee
            })

        if debug:
            print("-" * 50)

    df_result = pd.DataFrame(lignes)

    if debug:
        print("=== FIN TRAITEMENT ===")
        print(f"Nombre total de lignes g√©n√©r√©es : {len(df_result)}")
        print("Aper√ßu du r√©sultat :")
        print(df_result.head())

    return df_result

In [ ]:
explode_population_dataframe(df_homme, "H", 2007, False).head(1000)

    code_dept    nom_dept sexe     tranche_age  population  annee
0          01         Ain    H      0 √† 19 ans       78672   2007
1          01         Ain    H     20 √† 39 ans       74187   2007
2          01         Ain    H     40 √† 59 ans       81771   2007
3          01         Ain    H     60 √† 74 ans       33496   2007
4          01         Ain    H  75 ans et plus       15625   2007
..        ...         ...  ...             ...         ...    ...
485       974  La R√©union    H      0 √† 19 ans      141874   2007
486       974  La R√©union    H     20 √† 39 ans      107793   2007
487       974  La R√©union    H     40 √† 59 ans       97687   2007
488       974  La R√©union    H     60 √† 74 ans       29243   2007
489       974  La R√©union    H  75 ans et plus        8738   2007

[490 rows x 6 columns]

In [ ]:
explode_population_dataframe(df_femme, "F", 2007, False).head()

  code_dept nom_dept sexe     tranche_age  population  annee
0        01      Ain    F      0 √† 19 ans       75047   2007
1        01      Ain    F     20 √† 39 ans       73097   2007
2        01      Ain    F     40 √† 59 ans       81232   2007
3        01      Ain    F     60 √† 74 ans       35341   2007
4        01      Ain    F  75 ans et plus       25909   2007

In [ ]:
import pandas as pd

df_population_all = []

for annee in range(2007, 2023):
    print(f"\n=== Traitement population {annee} ===")

    # 1. Lecture du fichier Excel
    df = pd.read_excel(f"./data/populations/pop-{annee}.xlsx")

    # Affichage rapide des premi√®res lignes
    # print("Aper√ßu du fichier brut :")
    # print(df.head(2))
    
    # 2. S√©paration hommes / femmes
    df_homme, df_femme = split_and_explode_population(df)

    # 3. Explosion (format long) avec debug activ√©
    df_homme_long = explode_population_dataframe(
        df_homme,
        sexe="H",
        annee=annee,
        debug=False
    )

    df_femme_long = explode_population_dataframe(
        df_femme,
        sexe="F",
        annee=annee,
        debug=False
    )

    # 4. Concat√©ner hommes + femmes pour cette ann√©e
    df_population_all.append(pd.concat([df_homme_long, df_femme_long], ignore_index=True))

# 5. Concat√©nation finale sur toutes les ann√©es
df_population = pd.concat(df_population_all, ignore_index=True)


print("\n=== Aper√ßu final population ===")
print(df_population.head(15))
print("\nNombre total de lignes :", len(df_population))

=== Traitement population 2007 ===

=== Traitement population 2008 ===

=== Traitement population 2009 ===

=== Traitement population 2010 ===

=== Traitement population 2011 ===

=== Traitement population 2012 ===

=== Traitement population 2013 ===

=== Traitement population 2014 ===

=== Traitement population 2015 ===

=== Traitement population 2016 ===

=== Traitement population 2017 ===

=== Traitement population 2018 ===

=== Traitement population 2019 ===

=== Traitement population 2020 ===

=== Traitement population 2021 ===

=== Traitement population 2022 ===

=== Aper√ßu final population ===
   code_dept nom_dept sexe     tranche_age  population  annee
0         01      Ain    H      0 √† 19 ans       78672   2007
1         01      Ain    H     20 √† 39 ans       74187   2007
2         01      Ain    H     40 √† 59 ans       81771   2007
3         01      Ain    H     60 √† 74 ans       33496   2007
4         01      Ain    H  75 ans et plus       15625   2007
5         02    Aisne    H      0 √† 19 ans       72302   2007
6         02    Aisne    H     20 √† 39 ans       65638   2007
7         02    Aisne    H     40 √† 59 ans       76034   2007
8         02    Aisne    H     60 √† 74 ans       31402   2007
9         02    Aisne    H  75 ans et plus       16208   2007
10        03   Allier    H      0 √† 19 ans       36753   2007
11        03   Allier    H     20 √† 39 ans       37614   2007
12        03   Allier    H     40 √† 59 ans       48399   2007
13        03   Allier    H     60 √† 74 ans       25918   2007
14        03   Allier    H  75 ans et plus       15787   2007

Nombre total de lignes : 15770

In [ ]:
df_population.to_excel("./exports/xlsx/population_2007_2023.xlsx", index=False)

In [ ]:
from db import SessionLocal
from models import Sexe, TrancheAge

session = SessionLocal()

In [ ]:
def seed_sexe(session):
    codes = ["ENSEMBLE", "H", "F"]
    for code in codes:
        if not session.query(Sexe).filter_by(code=code).first():
            session.add(Sexe(code=code))
    session.commit()

In [ ]:
def seed_tranche_age(session):
    tranches = [
        (0, 19),
        (20, 39),
        (40, 59),
        (60, 74), 
        (75, None),
    ]

    for age_min, age_max in tranches:
        exists = session.query(TrancheAge).filter_by(
            age_min=age_min,
            age_max=age_max
        ).first()
        if not exists:
            session.add(
                TrancheAge(age_min=age_min, age_max=age_max)
            )
    session.commit()

In [ ]:
def run():
    session = SessionLocal()
    try:
        seed_sexe(session)
        seed_tranche_age(session)
        session.commit()
    except:
        session.rollback()
        raise
    finally:
        session.close()

In [ ]:
if __name__ == "__main__":
    run()

2026-01-11 00:42:28,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-11 00:42:28,958 INFO sqlalchemy.engine.Engine SELECT sexe.id AS sexe_id, sexe.code AS sexe_code
FROM sexe
WHERE sexe.code = %(code_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:28,959 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {'code_1': 'ENSEMBLE', 'param_1': 1}
2026-01-11 00:42:28,985 INFO sqlalchemy.engine.Engine SELECT sexe.id AS sexe_id, sexe.code AS sexe_code
FROM sexe
WHERE sexe.code = %(code_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:28,986 INFO sqlalchemy.engine.Engine [cached since 0.02824s ago] {'code_1': 'H', 'param_1': 1}
2026-01-11 00:42:28,988 INFO sqlalchemy.engine.Engine SELECT sexe.id AS sexe_id, sexe.code AS sexe_code
FROM sexe
WHERE sexe.code = %(code_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:28,989 INFO sqlalchemy.engine.Engine [cached since 0.03149s ago] {'code_1': 'F', 'param_1': 1}
2026-01-11 00:42:29,010 INFO sqlalchemy.engine.Engine INSERT INTO sexe (code) SELECT p0::VARCHAR FROM (VALUES (%(code__0)s, 0), (%(code__1)s, 1), (%(code__2)s, 2)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING sexe.id, sexe.id AS id__1
2026-01-11 00:42:29,011 INFO sqlalchemy.engine.Engine [generated in 0.00017s (insertmanyvalues) 1/1 (ordered)] {'code__0': 'ENSEMBLE', 'code__1': 'H', 'code__2': 'F'}
2026-01-11 00:42:29,041 INFO sqlalchemy.engine.Engine COMMIT
2026-01-11 00:42:29,047 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-11 00:42:29,049 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
WHERE tranche_age.age_min = %(age_min_1)s AND tranche_age.age_max = %(age_max_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:29,050 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {'age_min_1': 0, 'age_max_1': 19, 'param_1': 1}
2026-01-11 00:42:29,057 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
WHERE tranche_age.age_min = %(age_min_1)s AND tranche_age.age_max = %(age_max_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:29,058 INFO sqlalchemy.engine.Engine [cached since 0.009139s ago] {'age_min_1': 20, 'age_max_1': 39, 'param_1': 1}
2026-01-11 00:42:29,063 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
WHERE tranche_age.age_min = %(age_min_1)s AND tranche_age.age_max = %(age_max_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:29,063 INFO sqlalchemy.engine.Engine [cached since 0.01411s ago] {'age_min_1': 40, 'age_max_1': 59, 'param_1': 1}
2026-01-11 00:42:29,066 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
WHERE tranche_age.age_min = %(age_min_1)s AND tranche_age.age_max = %(age_max_1)s
 LIMIT %(param_1)s
2026-01-11 00:42:29,066 INFO sqlalchemy.engine.Engine [cached since 0.01692s ago] {'age_min_1': 60, 'age_max_1': 74, 'param_1': 1}
2026-01-11 00:42:29,069 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
WHERE tranche_age.age_min = %(age_min_1)s AND tranche_age.age_max IS NULL
 LIMIT %(param_1)s
2026-01-11 00:42:29,070 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {'age_min_1': 75, 'param_1': 1}
2026-01-11 00:42:29,076 INFO sqlalchemy.engine.Engine INSERT INTO tranche_age (age_min, age_max) SELECT p0::INTEGER, p1::INTEGER FROM (VALUES (%(age_min__0)s, %(age_max__0)s, 0), (%(age_min__1)s, %(age_max__1)s, 1), (%(age_min__2)s, %(age_max__2)s, 2), (%(age_min__3)s, %(age_max__3)s, 3), (%(age_min__4)s, %(age_max__4)s, 4)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING tranche_age.id, tranche_age.id AS id__1
2026-01-11 00:42:29,077 INFO sqlalchemy.engine.Engine [generated in 0.00013s (insertmanyvalues) 1/1 (ordered)] {'age_min__0': 0, 'age_max__0': 19, 'age_min__1': 20, 'age_max__1': 39, 'age_min__2': 40, 'age_max__2': 59, 'age_min__3': 60, 'age_max__3': 74, 'age_min__4': 75, 'age_max__4': None}
2026-01-11 00:42:29,081 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
from sqlalchemy.orm import Session
import re
from models import PopulationDepartement, Departement

In [ ]:
# Mapping direct tranche -> (age_min, age_max)
TRANCHES_AGE_MAP = {
    "0 √† 19 ans": (0, 19),
    "20 √† 39 ans": (20, 39),
    "40 √† 59 ans": (40, 59),
    "60 √† 74 ans": (60, 74),
    "75 ans et plus": (75, None),
}

def parse_tranche_age(tranche_str: str):
    """
    Retourne (age_min, age_max) √† partir d'une cha√Æne de tranche connue.
    """
    return TRANCHES_AGE_MAP[tranche_str]

In [130]:
def inserer_population(df, session: Session):
    # Mapping direct des tranches d'√¢ge
    TRANCHES_AGE_MAP = {
        "0 √† 19 ans": (0, 19),
        "20 √† 39 ans": (20, 39),
        "40 √† 59 ans": (40, 59),
        "60 √† 74 ans": (60, 74),
        "75 ans et plus": (75, None),
    }

    # Mapping des d√©partements d'outre-mer
    DOM_CODES_MAP = {
        "971": "ZA",  # Guadeloupe
        "972": "ZB",  # Martinique
        "973": "ZC",  # Guyane
        "974": "ZD",  # La R√©union
    }

    # R√©cup√©ration des objets existants
    departements = {d.code_dept: d for d in session.query(Departement).all()}
    sexes = {s.code: s for s in session.query(Sexe).all()}
    tranches = session.query(TrancheAge).all()
    tranches_map = {(t.age_min, t.age_max): t for t in tranches}

    # Pr√©charger les populations existantes pour √©viter doublons
    existing_keys = set(
        session.query(
            PopulationDepartement.departement_code,
            PopulationDepartement.sexe_id,
            PopulationDepartement.tranche_age_id,
            PopulationDepartement.annee
        ).all()
    )

    to_insert = []

    for _, row in df.iterrows():
        # ===== Normalisation du code d√©partement =====
        code_dept_raw = str(row["code_dept"]).strip()

        if code_dept_raw in DOM_CODES_MAP:
            code_dept_db = DOM_CODES_MAP[code_dept_raw]
        else:
            # M√©tropole : 01, 02, ..., 95
            code_dept_db = code_dept_raw.zfill(2)

        dept = departements.get(code_dept_db)
        sexe = sexes.get(str(row["sexe"]).strip())

        if not dept:
            print(f"‚ö†Ô∏è D√©partement non trouv√© pour la ligne: {row['code_dept']}")
            continue

        if not sexe:
            print(f"‚ö†Ô∏è Sexe non trouv√© pour la ligne: {row['sexe']}")
            continue

        # ===== Tranche d'√¢ge =====
        age_min, age_max = TRANCHES_AGE_MAP[row["tranche_age"]]
        tranche = tranches_map.get((age_min, age_max))
        if not tranche:
            print(f"‚ö†Ô∏è Tranche d'√¢ge non trouv√©e pour: {row['tranche_age']}")
            continue

        # ===== Cl√© unique (anti-doublon) =====
        key = (dept.code_dept, sexe.id, tranche.id, row["annee"])
        if key in existing_keys:
            continue

        # ===== Cr√©ation PopulationDepartement =====
        pop_dept = PopulationDepartement(
            departement_code=dept.code_dept,
            departement=dept,
            sexe_id=sexe.id,
            sexe=sexe,
            tranche_age_id=tranche.id,
            tranche_age=tranche,
            annee=row["annee"],
            population=row["population"]
        )

        to_insert.append(pop_dept)
        existing_keys.add(key)

    # ===== Insertion en base =====
    if to_insert:
        session.bulk_save_objects(to_insert)
        session.commit()
        print(f"‚úÖ {len(to_insert)} populations ins√©r√©es avec succ√®s.")
    else:
        print("‚ÑπÔ∏è Aucune nouvelle population √† ins√©rer, tout est d√©j√† pr√©sent.")

In [131]:
# Code d√©partement comme cha√Æne √† 2 chiffres (01, 02, ‚Ä¶)
df_population["code_dept"] = df_population["code_dept"].astype(str).str.zfill(2)

# Sexe propre
df_population["sexe"] = df_population["sexe"].str.strip()

In [132]:
inserer_population(df_population, session)

2026-01-11 00:51:13,064 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-11 00:51:13,070 INFO sqlalchemy.engine.Engine SELECT departements.code_dept AS departements_code_dept, departements.nom_dept AS departements_nom_dept
FROM departements
2026-01-11 00:51:13,072 INFO sqlalchemy.engine.Engine [cached since 2339s ago] {}
2026-01-11 00:51:13,105 INFO sqlalchemy.engine.Engine SELECT sexe.id AS sexe_id, sexe.code AS sexe_code
FROM sexe
2026-01-11 00:51:13,105 INFO sqlalchemy.engine.Engine [cached since 2339s ago] {}
2026-01-11 00:51:13,107 INFO sqlalchemy.engine.Engine SELECT tranche_age.id AS tranche_age_id, tranche_age.age_min AS tranche_age_age_min, tranche_age.age_max AS tranche_age_age_max
FROM tranche_age
2026-01-11 00:51:13,107 INFO sqlalchemy.engine.Engine [cached since 2339s ago] {}
2026-01-11 00:51:13,109 INFO sqlalchemy.engine.Engine SELECT population_departement.departement_code AS population_departement_departement_code, population_departement.sexe_id AS population_departement_sexe_id, population_departement.tranche_age_id AS population_departement_tranche_age_id, population_departement.annee AS population_departement_annee
FROM population_departement
2026-01-11 00:51:13,110 INFO sqlalchemy.engine.Engine [cached since 2339s ago] {}
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
‚ö†Ô∏è D√©partement non trouv√© pour la ligne: 976
2026-01-11 00:51:14,763 INFO sqlalchemy.engine.Engine INSERT INTO population_departement (departement_code, sexe_id, tranche_age_id, annee, population) VALUES (%(departement_code__0)s, %(sexe_id__0)s, %(tranche_age_id__0)s, %(annee__0)s, %(population__0)s), (%(departement_code__1)s, %(sexe_id__1)s, %(tr ... 108203 characters truncated ... rtement_code__999)s, %(sexe_id__999)s, %(tranche_age_id__999)s, %(annee__999)s, %(population__999)s)
2026-01-11 00:51:14,764 INFO sqlalchemy.engine.Engine [cached since 499.6s ago (insertmanyvalues) 1/16 (unordered)] {'annee__0': 2007, 'departement_code__0': '01', 'sexe_id__0': 2, 'population__0': 78672, 'tranche_age_id__0': 1, 'annee__1': 2007, 'departement_code__1': '01', 'sexe_id__1': 2, 'population__1': 74187, 'tranche_age_id__1': 2, 'annee__2': 2007, 'departement_code__2': '01', 'sexe_id__2': 2, 'population__2': 81771, 'tranche_age_id__2': 3, 'annee__3': 2007, 'departement_code__3': '01', 'sexe_id__3': 2, 'population__3': 33496, 'tranche_age_id__3': 4, 'annee__4': 2007, 'departement_code__4': '01', 'sexe_id__4': 2, 'population__4': 15625, 'tranche_age_id__4': 5, 'annee__5': 2007, 'departement_code__5': '02', 'sexe_id__5': 2, 'population__5': 72302, 'tranche_age_id__5': 1, 'annee__6': 2007, 'departement_code__6': '02', 'sexe_id__6': 2, 'population__6': 65638, 'tranche_age_id__6': 2, 'annee__7': 2007, 'departement_code__7': '02', 'sexe_id__7': 2, 'population__7': 76034, 'tranche_age_id__7': 3, 'annee__8': 2007, 'departement_code__8': '02', 'sexe_id__8': 2, 'population__8': 31402, 'tranche_age_id__8': 4, 'annee__9': 2007, 'departement_code__9': '02', 'sexe_id__9': 2, 'population__9': 16208, 'tranche_age_id__9': 5 ... 4900 parameters truncated ... 'annee__990': 2008, 'departement_code__990': '11', 'sexe_id__990': 2, 'population__990': 40033, 'tranche_age_id__990': 1, 'annee__991': 2008, 'departement_code__991': '11', 'sexe_id__991': 2, 'population__991': 37953, 'tranche_age_id__991': 2, 'annee__992': 2008, 'departement_code__992': '11', 'sexe_id__992': 2, 'population__992': 47262, 'tranche_age_id__992': 3, 'annee__993': 2008, 'departement_code__993': '11', 'sexe_id__993': 2, 'population__993': 27525, 'tranche_age_id__993': 4, 'annee__994': 2008, 'departement_code__994': '11', 'sexe_id__994': 2, 'population__994': 15847, 'tranche_age_id__994': 5, 'annee__995': 2008, 'departement_code__995': '12', 'sexe_id__995': 2, 'population__995': 29974, 'tranche_age_id__995': 1, 'annee__996': 2008, 'departement_code__996': '12', 'sexe_id__996': 2, 'population__996': 29443, 'tranche_age_id__996': 2, 'annee__997': 2008, 'departement_code__997': '12', 'sexe_id__997': 2, 'population__997': 39194, 'tranche_age_id__997': 3, 'annee__998': 2008, 'departement_code__998': '12', 'sexe_id__998': 2, 'population__998': 22181, 'tranche_age_id__998': 4, 'annee__999': 2008, 'departement_code__999': '12', 'sexe_id__999': 2, 'population__999': 14243, 'tranche_age_id__999': 5}
2026-01-11 00:51:14,815 INFO sqlalchemy.engine.Engine INSERT INTO population_departement (departement_code, sexe_id, tranche_age_id, annee, population) VALUES (%(departement_code__0)s, %(sexe_id__0)s, %(tranche_age_id__0)s, %(annee__0)s, %(population__0)s), (%(departement_code__1)s, %(sexe_id__1)s, %(tr ... 108203 characters truncated ... rtement_code__999)s, %(sexe_id__999)s, %(tranche_age_id__999)s, %(annee__999)s, %(population__999)s)
2026-01-11 00:51:14,816 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/16 (unordered)] {'annee__0': 2008, 'departement_code__0': '13', 'sexe_id__0': 2, 'population__0': 247275, 'tranche_age_id__0': 1, 'annee__1': 2008, 'departement_code__1': '13', 'sexe_id__1': 2, 'population__1': 248155, 'tranche_age_id__1': 2, 'annee__2': 2008, 'departement_code__2': '13', 'sexe_id__2': 2, 'population__2': 253639, 'tranche_age_id__2': 3, 'annee__3': 2008, 'departement_code__3': '13', 'sexe_id__3': 2, 'population__3': 125944, 'tranche_age_id__3': 4, 'annee__4': 2008, 'departement_code__4': '13', 'sexe_id__4': 2, 'population__4': 62567, 'tranche_age_id__4': 5, 'annee__5': 2008, 'departement_code__5': '14', 'sexe_id__5': 2, 'population__5': 88033, 'tranche_age_id__5': 1, 'annee__6': 2008, 'departement_code__6': '14', 'sexe_id__6': 2, 'population__6': 85700, 'tranche_age_id__6': 2, 'annee__7': 2008, 'departement_code__7': '14', 'sexe_id__7': 2, 'population__7': 90745, 'tranche_age_id__7': 3, 'annee__8': 2008, 'departement_code__8': '14', 'sexe_id__8': 2, 'population__8': 41017, 'tranche_age_id__8': 4, 'annee__9': 2008, 'departement_code__9': '14', 'sexe_id__9': 2, 'population__9': 20533, 'tranche_age_id__9': 5 ... 4900 parameters truncated ... 'annee__990': 2009, 'departement_code__990': '24', 'sexe_id__990': 2, 'population__990': 42833, 'tranche_age_id__990': 1, 'annee__991': 2009, 'departement_code__991': '24', 'sexe_id__991': 2, 'population__991': 40561, 'tranche_age_id__991': 2, 'annee__992': 2009, 'departement_code__992': '24', 'sexe_id__992': 2, 'population__992': 57863, 'tranche_age_id__992': 3, 'annee__993': 2009, 'departement_code__993': '24', 'sexe_id__993': 2, 'population__993': 35839, 'tranche_age_id__993': 4, 'annee__994': 2009, 'departement_code__994': '24', 'sexe_id__994': 2, 'population__994': 20960, 'tranche_age_id__994': 5, 'annee__995': 2009, 'departement_code__995': '25', 'sexe_id__995': 2, 'population__995': 68095, 'tranche_age_id__995': 1, 'annee__996': 2009, 'departement_code__996': '25', 'sexe_id__996': 2, 'population__996': 71707, 'tranche_age_id__996': 2, 'annee__997': 2009, 'departement_code__997': '25', 'sexe_id__997': 2, 'population__997': 68558, 'tranche_age_id__997': 3, 'annee__998': 2009, 'departement_code__998': '25', 'sexe_id__998': 2, 'population__998': 33844, 'tranche_age_id__998': 4, 'annee__999': 2009, 'departement_code__999': '25', 'sexe_id__999': 2, 'population__999': 15821, 'tranche_age_id__999': 5}
2026-01-11 00:51:14,869 INFO sqlalchemy.engine.Engine INSERT INTO population_departement (departement_code, sexe_id, tranche_age_id, annee, population) VALUES (%(departement_code__0)s, %(sexe_id__0)s, %(tranche_age_id__0)s, %(annee__0)s, %(population__0)s), (%(departement_code__1)s, %(sexe_id__1)s, %(tr ... 108203 characters truncated ... rtement_code__999)s, %(sexe_id__999)s, %(tranche_age_id__999)s, %(annee__999)s, %(population__999)s)
2026-01-11 00:51:14,870 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/16 (unordered)] {'annee__0': 2009, 'departement_code__0': '26', 'sexe_id__0': 2, 'population__0': 62333, 'tranche_age_id__0': 1, 'annee__1': 2009, 'departement_code__1': '26', 'sexe_id__1': 2, 'population__1': 55377, 'tranche_age_id__1': 2, 'annee__2': 2009, 'departement_code__2': '26', 'sexe_id__2': 2, 'population__2': 65820, 'tranche_age_id__2': 3, 'annee__3': 2009, 'departement_code__3': '26', 'sexe_id__3': 2, 'population__3': 34381, 'tranche_age_id__3': 4, 'annee__4': 2009, 'departement_code__4': '26', 'sexe_id__4': 2, 'population__4': 17113, 'tranche_age_id__4': 5, 'annee__5': 2009, 'departement_code__5': '27', 'sexe_id__5': 2, 'population__5': 79239, 'tranche_age_id__5': 1, 'annee__6': 2009, 'departement_code__6': '27', 'sexe_id__6': 2, 'population__6': 71377, 'tranche_age_id__6': 2, 'annee__7': 2009, 'departement_code__7': '27', 'sexe_id__7': 2, 'population__7': 81277, 'tranche_age_id__7': 3, 'annee__8': 2009, 'departement_code__8': '27', 'sexe_id__8': 2, 'population__8': 36496, 'tranche_age_id__8': 4, 'annee__9': 2009, 'departement_code__9': '27', 'sexe_id__9': 2, 'population__9': 16052, 'tranche_age_id__9': 5 ... 4900 parameters truncated ... 'annee__990': 2010, 'departement_code__990': '36', 'sexe_id__990': 2, 'population__990': 24947, 'tranche_age_id__990': 1, 'annee__991': 2010, 'departement_code__991': '36', 'sexe_id__991': 2, 'population__991': 23701, 'tranche_age_id__991': 2, 'annee__992': 2010, 'departement_code__992': '36', 'sexe_id__992': 2, 'population__992': 32559, 'tranche_age_id__992': 3, 'annee__993': 2010, 'departement_code__993': '36', 'sexe_id__993': 2, 'population__993': 19317, 'tranche_age_id__993': 4, 'annee__994': 2010, 'departement_code__994': '36', 'sexe_id__994': 2, 'population__994': 11417, 'tranche_age_id__994': 5, 'annee__995': 2010, 'departement_code__995': '37', 'sexe_id__995': 2, 'population__995': 72410, 'tranche_age_id__995': 1, 'annee__996': 2010, 'departement_code__996': '37', 'sexe_id__996': 2, 'population__996': 72243, 'tranche_age_id__996': 2, 'annee__997': 2010, 'departement_code__997': '37', 'sexe_id__997': 2, 'population__997': 77881, 'tranche_age_id__997': 3, 'annee__998': 2010, 'departement_code__998': '37', 'sexe_id__998': 2, 'population__998': 39838, 'tranche_age_id__998': 4, 'annee__999': 2010, 'departement_code__999': '37', 'sexe_id__999': 2, 'population__999': 22124, 'tranche_age_id__999': 5}
2026-01-11 00:51:14,907 INFO sqlalchemy.engine.Engine INSERT INTO population_departement (departement_code, sexe_id, tranche_age_id, annee, population) VALUES (%(departement_code__0)s, %(sexe_id__0)s, %(tranche_age_id__0)s, %(annee__0)s, %(population__0)s), (%(departement_code__1)s, %(sexe_id__1)s, %(tr ... 108203 characters truncated ... rtement_code__999)s, %(sexe_id__999)s, %(tranche_age_id__999)s, %(annee__999)s, %(population__999)s)
2026-01-11 00:51:14,908 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/16 (unordered)] {'annee__0': 2010, 'departement_code__0': '38', 'sexe_id__0': 2, 'population__0': 162534, 'tranche_age_id__0': 1, 'annee__1': 2010, 'departement_code__1': '38', 'sexe_id__1': 2, 'population__1': 160252, 'tranche_age_id__1': 2, 'annee__2': 2010, 'departement_code__2': '38', 'sexe_id__2': 2, 'population__2': 159882, 'tranche_age_id__2': 3, 'annee__3': 2010, 'departement_code__3': '38', 'sexe_id__3': 2, 'population__3': 75923, 'tranche_age_id__3': 4, 'annee__4': 2010, 'departement_code__4': '38', 'sexe_id__4': 2, 'population__4': 35192, 'tranche_age_id__4': 5, 'annee__5': 2010, 'departement_code__5': '39', 'sexe_id__5': 2, 'population__5': 32777, 'tranche_age_id__5': 1, 'annee__6': 2010, 'departement_code__6': '39', 'sexe_id__6': 2, 'population__6': 28961, 'tranche_age_id__6': 2, 'annee__7': 2010, 'departement_code__7': '39', 'sexe_id__7': 2, 'population__7': 36307, 'tranche_age_id__7': 3, 'annee__8': 2010, 'departement_code__8': '39', 'sexe_id__8': 2, 'population__8': 19529, 'tranche_age_id__8': 4, 'annee__9': 2010, 'departement_code__9': '39', 'sexe_id__9': 2, 'population__9': 10304, 'tranche_age_id__9': 5 ... 4900 parameters truncated ... 'annee__990': 2011, 'departement_code__990': '48', 'sexe_id__990': 2, 'population__990': 8683, 'tranche_age_id__990': 1, 'annee__991': 2011, 'departement_code__991': '48', 'sexe_id__991': 2, 'population__991': 8374, 'tranche_age_id__991': 2, 'annee__992': 2011, 'departement_code__992': '48', 'sexe_id__992': 2, 'population__992': 11443, 'tranche_age_id__992': 3, 'annee__993': 2011, 'departement_code__993': '48', 'sexe_id__993': 2, 'population__993': 6733, 'tranche_age_id__993': 4, 'annee__994': 2011, 'departement_code__994': '48', 'sexe_id__994': 2, 'population__994': 3552, 'tranche_age_id__994': 5, 'annee__995': 2011, 'departement_code__995': '49', 'sexe_id__995': 2, 'population__995': 105713, 'tranche_age_id__995': 1, 'annee__996': 2011, 'departement_code__996': '49', 'sexe_id__996': 2, 'population__996': 98966, 'tranche_age_id__996': 2, 'annee__997': 2011, 'departement_code__997': '49', 'sexe_id__997': 2, 'population__997': 101642, 'tranche_age_id__997': 3, 'annee__998': 2011, 'departement_code__998': '49', 'sexe_id__998': 2, 'population__998': 49917, 'tranche_age_id__998': 4, 'annee__999': 2011, 'departement_code__999': '49', 'sexe_id__999': 2, 'population__999': 27443, 'tranche_age_id__999': 5}
2026-01-11 00:51:14,945 INFO sqlalchemy.engine.Engine INSERT INTO population_departement (departement_code, sexe_id, tranche_age_id, annee, population) VALUES (%(departement_code__0)s, %(sexe_id__0)s, %(tranche_age_id__0)s, %(annee__0)s, %(population__0)s), (%(departement_code__1)s, %(sexe_id__1)s, %(tr ... 108203 characters truncated ... rtement_code__999)s, %(sexe_id__999)s, %(tranche_age_id__999)s, %(annee__999)s, %(population__999)s)

/tmp/ipykernel_91708/2940420868.py:88: SAWarning: Object of type <PopulationDepartement> not in session, add operation along 'Departement.populations' will not proceed
  session.commit()

2026-01-11 00:51:16,156 INFO sqlalchemy.engine.Engine COMMIT
‚úÖ 15040 populations ins√©r√©es avec succ√®s.