Election de 2022 premier tour

In [1]:
import numpy as np
import pandas as pd
import os
os.listdir()

['pipeline',
 'elec17.py',
 'migrations',
 'election2017.ipynb',
 'elec22.py',
 'entreprise.ipynb',
 '.DS_Store',
 'elec12.py',
 'alembic.ini',
 'economie_chomage.ipynb',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 'menage.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'labo2.ipynb',
 'population_immigration.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'data']

#### Importer la database

Import des datasets.

In [2]:
df = pd.read_excel('./data/populations/immigration/immigration.xlsx')

Visualise toutes les colones

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head()

      Année  Part1\n(en %)
0  2024 (p)      11.300000
1  2023 (p)      10.700000
2      2022      10.327769
3      2021      10.200000
4      2020      10.200000

Renommer les colonnes

In [4]:
df.columns = [
    "annee", "pct_immigration"
]

Normalisation structurelle

In [5]:
df["annee"] = (
    df["annee"]
    .astype(str)
    .str.extract(r"(\d{4})")
    .astype(int)
)

In [6]:
df = df[(df["annee"] >= 2007) & (df["annee"] <= 2022)]

In [7]:
df.head(18)

    annee  pct_immigration
2    2022        10.327769
3    2021        10.200000
4    2020        10.200000
5    2019        10.000000
6    2018         9.800000
7    2017         9.700000
8    2016         9.400000
9    2015         9.300000
10   2014         9.100000
11   2013         8.900000
12   2012         8.800000
13   2011         8.600000
14   2010         8.500000
15   2009         8.400000
16   2008         8.400000
17   2007         8.300000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 2 to 17
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   annee            16 non-null     int64
 1   pct_immigration  16 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 384.0 bytes

In [9]:
from db import SessionLocal
from models import Immigration

session = SessionLocal()

# Insertion des données
for row in df.itertuples(index=False):
    record = Immigration(annee=row.annee, pct_immigration=row.pct_immigration)
    session.add(record)

session.commit()
print("Insertion terminée pour les années 2007 à 2024.")

2026-01-10 20:45:15,253 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-10 20:45:15,254 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:15,255 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-10 20:45:15,255 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:15,256 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-10 20:45:15,256 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-10 20:45:15,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-10 20:45:15,258 INFO sqlalchemy.engine.Engine INSERT INTO immigration (annee, pct_immigration) SELECT p0::INTEGER, p1::FLOAT FROM (VALUES (%(annee__0)s, %(pct_immigration__0)s, 0), (%(annee__1)s, %(pct_immigration__1)s, 1), (%(annee__2)s, %(pct_immigration__2)s, 2), (%(annee__3)s, %(pct_immigrat ... 550 characters truncated ...  imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING immigration.id, immigration.id AS id__1
2026-01-10 20:45:15,259 INFO sqlalchemy.engine.Engine [generated in 0.00005s (insertmanyvalues) 1/1 (ordered)] {'annee__0': 2022, 'pct_immigration__0': 10.32776865187, 'annee__1': 2021, 'pct_immigration__1': 10.2, 'annee__2': 2020, 'pct_immigration__2': 10.2, 'annee__3': 2019, 'pct_immigration__3': 10.0, 'annee__4': 2018, 'pct_immigration__4': 9.8, 'annee__5': 2017, 'pct_immigration__5': 9.7, 'annee__6': 2016, 'pct_immigration__6': 9.4, 'annee__7': 2015, 'pct_immigration__7': 9.3, 'annee__8': 2014, 'pct_immigration__8': 9.1, 'annee__9': 2013, 'pct_immigration__9': 8.9, 'annee__10': 2012, 'pct_immigration__10': 8.8, 'annee__11': 2011, 'pct_immigration__11': 8.6, 'annee__12': 2010, 'pct_immigration__12': 8.5, 'annee__13': 2009, 'pct_immigration__13': 8.4, 'annee__14': 2008, 'pct_immigration__14': 8.4, 'annee__15': 2007, 'pct_immigration__15': 8.3}
2026-01-10 20:45:15,263 INFO sqlalchemy.engine.Engine COMMIT
Insertion terminée pour les années 2007 à 2024.