In [25]:
import numpy as np
import pandas as pd
import os
os.listdir()

['migrations',
 'election2017.ipynb',
 '.DS_Store',
 'populations',
 'securite',
 'alembic.ini',
 'enums',
 'utils',
 'models',
 'election2012.ipynb',
 'exports',
 'labo1.ipynb',
 '.gitignore',
 'population.ipynb',
 'scripts',
 'db',
 'securite.ipynb',
 'chomages',
 'labo2.ipynb',
 '.git',
 'main.py',
 'election2022.ipynb',
 'elections']

#### Importer la database

Import des datasets.

In [26]:
df = pd.read_excel('./securite/securite.xlsx')

Visualise toutes les colones

In [27]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

df.head(1000)

,Code_departement,Code_region,annee,indicateur,unite_de_compte,nombre,taux_pour_mille,insee_pop,insee_pop_millesime,insee_log,insee_log_millesime
0,1,84,2016,Homicides,Victime,5,0.007832,638425,2016,308491,2016
1,2,32,2016,Homicides,Victime,10,0.018652,536136,2016,264180,2016
2,3,84,2016,Homicides,Victime,4,0.011786,339384,2016,206980,2016
3,4,93,2016,Homicides,Victime,2,0.012303,162565,2016,126760,2016
4,5,93,2016,Homicides,Victime,0,0.000000,141107,2016,134647,2016
...,...,...,...,...,...,...,...,...,...,...,...
995,86,75,2016,Tentatives d'homicides,Victime,12,0.027519,436069,2016,237993,2016
996,87,75,2016,Tentatives d'homicides,Victime,3,0.008001,374978,2016,219170,2016
997,88,44,2016,Tentatives d'homicides,Victime,12,0.032464,369641,2016,212925,2016
998,89,27,2016,Tentatives d'homicides,Victime,7,0.020555,340544,2016,195822,2016
999,90,27,2016,Tentatives d'homicides,Victime,2,0.013880,144089,2016,71929,2016

In [28]:
df.shape

(16362, 11)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16362 entries, 0 to 16361
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Code_departement     16362 non-null  object
 1   Code_region          16362 non-null  int64
 2   annee                16362 non-null  int64
 3   indicateur           16362 non-null  object
 4   unite_de_compte      16362 non-null  object
 5   nombre               16362 non-null  int64
 6   taux_pour_mille      16362 non-null  float64
 7   insee_pop            16362 non-null  int64
 8   insee_pop_millesime  16362 non-null  int64
 9   insee_log            16362 non-null  int64
 10  insee_log_millesime  16362 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 1.4+ MB

Connaître les différentes occurrences dans la colonne indicateur

In [30]:
# Supposons que ton dataframe s'appelle df
valeurs_uniques = df['indicateur'].unique()
print("Valeurs uniques dans 'indicateur' :", valeurs_uniques)

# Pour avoir aussi le nombre d'occurrences de chaque indicateur
comptage = df['indicateur'].value_counts()
print("Occurrences par indicateur :\n", comptage)

Valeurs uniques dans 'indicateur' : ['Homicides' "Tentatives d'homicides" 'Coups et blessures volontaires'
 'Coups et blessures volontaires intrafamiliaux'
 'Autres coups et blessures volontaires' 'Violences sexuelles'
 'Vols avec armes' 'Vols violents sans arme'
 'Vols sans violence contre des personnes' 'Cambriolages de logement'
 'Vols de véhicules' 'Vols dans les véhicules'
 "Vols d'accessoires sur véhicules"
 'Destructions et dégradations volontaires' 'Usage de stupéfiants'
 'Usage de stupéfiants (AFD)' 'Trafic de stupéfiants' 'Escroqueries']
Occurrences par indicateur :
 indicateur
Homicides                                        909
Tentatives d'homicides                           909
Trafic de stupéfiants                            909
Usage de stupéfiants (AFD)                       909
Usage de stupéfiants                             909
Destructions et dégradations volontaires         909
Vols d'accessoires sur véhicules                 909
Vols dans les véhicules                          909
Vols de véhicules                                909
Cambriolages de logement                         909
Vols sans violence contre des personnes          909
Vols violents sans arme                          909
Vols avec armes                                  909
Violences sexuelles                              909
Autres coups et blessures volontaires            909
Coups et blessures volontaires intrafamiliaux    909
Coups et blessures volontaires                   909
Escroqueries                                     909
Name: count, dtype: int64

vérifier si la colonne unite_de_compte est la même pour chaque indicateur

In [31]:
# Vérifier les unités de compte par indicateur
unites_par_indicateur = df.groupby('indicateur')['unite_de_compte'].unique()

for indicateur, unites in unites_par_indicateur.items():
    print(f"{indicateur} : {unites}")

Autres coups et blessures volontaires : ['Victime']
Cambriolages de logement : ['Infraction']
Coups et blessures volontaires : ['Victime']
Coups et blessures volontaires intrafamiliaux : ['Victime']
Destructions et dégradations volontaires : ['Infraction']
Escroqueries : ['Victime']
Homicides : ['Victime']
Tentatives d'homicides : ['Victime']
Trafic de stupéfiants : ['Mis en cause']
Usage de stupéfiants : ['Mis en cause']
Usage de stupéfiants (AFD) : ['Mis en cause']
Violences sexuelles : ['Victime']
Vols avec armes : ['Infraction']
Vols d'accessoires sur véhicules : ['Véhicule']
Vols dans les véhicules : ['Véhicule']
Vols de véhicules : ['Véhicule']
Vols sans violence contre des personnes : ['Victime entendue']
Vols violents sans arme : ['Infraction']

In [32]:
colonnes_essentielles = [
    "Code_departement",
    "annee",
    "indicateur",
    "unite_de_compte",
    "nombre",
    "taux_pour_mille",
]

df_essentiel = df[colonnes_essentielles].copy()
print(df_essentiel.head(1000))

    Code_departement  annee              indicateur unite_de_compte  nombre  \
0                  1   2016               Homicides         Victime       5
1                  2   2016               Homicides         Victime      10
2                  3   2016               Homicides         Victime       4
3                  4   2016               Homicides         Victime       2
4                  5   2016               Homicides         Victime       0
..               ...    ...                     ...             ...     ...
995               86   2016  Tentatives d'homicides         Victime      12
996               87   2016  Tentatives d'homicides         Victime       3
997               88   2016  Tentatives d'homicides         Victime      12
998               89   2016  Tentatives d'homicides         Victime       7
999               90   2016  Tentatives d'homicides         Victime       2

     taux_pour_mille
0           0.007832
1           0.018652
2           0.011786
3           0.012303
4           0.000000
..               ...
995         0.027519
996         0.008001
997         0.032464
998         0.020555
999         0.013880

[1000 rows x 6 columns]

In [33]:
df_indicateur = (
    df_essentiel[['indicateur']]
    .drop_duplicates()
    .rename(columns={'indicateur': 'libelle'})
    .sort_values('libelle')
    .reset_index(drop=True)
)

df_indicateur.head(100)

                                          libelle
0           Autres coups et blessures volontaires
1                        Cambriolages de logement
2                  Coups et blessures volontaires
3   Coups et blessures volontaires intrafamiliaux
4        Destructions et dégradations volontaires
5                                    Escroqueries
6                                       Homicides
7                          Tentatives d'homicides
8                           Trafic de stupéfiants
9                            Usage de stupéfiants
10                     Usage de stupéfiants (AFD)
11                            Violences sexuelles
12                                Vols avec armes
13               Vols d'accessoires sur véhicules
14                        Vols dans les véhicules
15                              Vols de véhicules
16        Vols sans violence contre des personnes
17                        Vols violents sans arme

In [34]:
df_unite_de_compte = (
    df_essentiel[['unite_de_compte']]
    .drop_duplicates()
    .rename(columns={'unite_de_compte': 'libelle'})
    .sort_values('libelle')
    .reset_index(drop=True)
)

df_unite_de_compte.head(100)

            libelle
0        Infraction
1      Mis en cause
2           Victime
3  Victime entendue
4          Véhicule

In [35]:
from db import SessionLocal
session = SessionLocal()

In [36]:
from models import Indicateur

existing = {
    i.libelle
    for i in session.query(Indicateur.libelle).all()
}

indicateurs = [
    Indicateur(libelle=row.libelle)
    for row in df_indicateur.itertuples(index=False)
    if row.libelle not in existing
]

session.bulk_save_objects(indicateurs)
session.commit()

ImportError: cannot import name 'Indicateur' from 'models' (/workspace/models/__init__.py)

In [ ]:
from models import UniteDeCompte

existing_unite = {
    u.libelle 
    for u in session.query(UniteDeCompte.libelle).all()
}

unites = [
    UniteDeCompte(libelle=row.libelle)
    for row in df_unite_de_compte.itertuples(index=False)
    if row.libelle not in existing_unite
]

session.bulk_save_objects(unites)
session.commit()

In [ ]:
from models import Departement

departements = {
    d.code_departement: d.id
    for d in session.query(Departement).all()
}

In [ ]:
def adapt_departement(code_df):
    """
    Transforme un code département du DataFrame
    en code compatible avec la base.

    Exemple :
    - 995  -> ZA
    - 986  -> ZB
    - 1..95 -> '1', '2', ...
    """
    mapping_special = {
        995: "ZA",
        986: "ZB",
        987: "ZC",
        988: "ZD",
        990: "ZE",
        991: "ZF",
        992: "ZG",
        993: "ZH",
        994: "ZI"
    }

    # si le code est dans le mapping spécial
    if code_df in mapping_special:
        return mapping_special[code_df]

    # sinon on garde le code numérique classique
    return str(code_df)

In [ ]:
from models import FaitSecurite

faits = []

for row in df_essentiel.itertuples(index=False):

    # ===== Adapter le code département =====
    adapted_code = adapt_departement(row.Code_departement)

    departement_id = departements.get(adapted_code)
    indicateur_id = indicateurs.get(row.indicateur)
    unite_id = unites.get(row.unite_de_compte)

    # ===== Vérification des FK : on ignore les lignes incohérentes =====
    if not departement_id or not indicateur_id or not unite_id:
        continue

    # ===== Création du FaitSecurite =====
    faits.append(
        FaitSecurite(
            departement_id=departement_id,
            annee=row.annee,
            indicateur_id=indicateur_id,
            unite_de_compte_id=unite_id,
            nombre=row.nombre,
            taux_pour_mille=row.taux_pour_mille
        )
    )

# ===== Insertion en base =====
session.bulk_save_objects(faits)
session.commit()